
//   Center column style
#mid-container > #middle-panel {
  .canvasbtns {
    padding: 10px;
    .btn:focus, .btn:active:focus, .btn.active:focus {
      outline: none !important;
    }
    .btn-warning {
      background-color: #b6bece;
      border: #b6bece;
      color: white;
      font-weight: 200;
      &:hover {
        background-color: rgba(182, 190, 206, 0.76);
      }
    }
    .btn-primary {
      background-color: #fc7169;
      border: #fc7169;
      color: white;
      font-weight: 200;
      &:hover {
        background-color: rgba(252, 113, 105, 0.72);
      }
    }
  }
  .item {
    position: absolute;
    width: 170px;
    height: 100px;
    font-size: 80%;
    z-index: 3;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.02s;
    transition-duration: 0.02s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
//    -moz-box-shadow: 2px 2px 3px 1px #AAA;
//    -webkit-box-shadow: 2px 2px 3px 1px #AAA;
//    box-shadow: 2px 2px 3px 1px #AAA;
    border: 1px solid rgba(106, 126, 163, 0.34);
    border-radius: 0;
    img {
      position: relative;
      width: 40px;
      height: 40px;
      margin-top: 2px;
      margin-bottom: -4px;
    }
    .title {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.19px;
      position: relative;
      padding: 40px 2px 11px 2px;
      margin-bottom: 0px;
      cursor: move;
      color: @dambiance;
      bottom: 34px;
    }
    p > .delete {
      border-radius: 0px;
      border: 0px;
      background-color: rgba(185, 191, 202, 0.38);
      color: rgba(127, 139, 145, 0.68);
      float: left;
      position: absolute;
      left: -1px;
      &:focus {
        outline: none;
      }
    }
    .ep {
      position: absolute;
      bottom: 42%;
      right: 3px;
      color: white;
      //        border: 2px solid orange;
      //        box-shadow: 0px 0px 2px black;
      width: 10px;
      height: 10px;
      //        border-radius: 20%;
      background-color: rgba(215, 223, 103, 0.69);
      border-radius: 50%;
      cursor: pointer;
      -webkit-transition: -webkit-box-shadow 0.25s ease-in;
      -moz-transition: -moz-box-shadow 0.25s ease-in;
      transition: box-shadow 0.25s ease-in;
      .fa {
        margin-top: 5px;
        color: @light-teal;
      }
    }
  }
  .selectedComponent {
    background-color: rgba(170, 185, 192, 0.12);
//    -moz-box-shadow: 2px 2px 3px 1px #AAA;
//    -webkit-box-shadow: 2px 2px 3px 1px #AAA;
//    box-shadow: 2px 2px 3px 1px #AAA;
    border: 1px solid rgba(106, 126, 163, 0.34);
    border-radius: 0;
    p > .delete {
      border-radius: 0px;
      border: 0px;
      background-color: rgba(185, 191, 202, 0.38);
      color: rgba(127, 139, 145, 0.68);
      float: left;
      position: absolute;
      left: -1px;
    }
    .title {
      color: @evening;
    }
  }

  //Styles for specific components on canvas
  .AWS-EC2-EIP > img {
    height: 20px;
  }

  //Resizable box (e.g, VPC)
  div[resizable] {
    border: 1px solid Black;
    width: 50%;
  }

  //  animations for showing/hiding toggle buttons (close and properties)
  .animate-show {
    -webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;
    opacity:1;
  }
  .animate-show.ng-hide {
    opacity:0;
  }

  //  JS Plumb Style
  ._jsPlumb_overlay {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid lightsteelblue;
  }
  svg {
    path {
      stroke: rgba(111, 123, 145, 0.49)!important;
    }
    ._jsPlumb.connector > path {
      fill: @ambiance;
      z-index: -1;
    }
    circle {
      fill: transparant;
      stroke: @light-teal;
      stroke-width: 1px;
      z-index: 1;
    }


    ._jsPlumb_endpoint._jsPlumb_endpoint_anchor_.ui-droppable.ui-draggable.ui-draggable-handle._jsPlumb_endpoint_connected._jsPlumb_endpoint_full {
      circle {
        fill: @ambiance;
        stroke: @ambiance;
        stroke-width: 2px;
        z-index: 1;
      }
    }
    path {
      stroke: @ambiance;
      stroke-width: 1.5px;
    }
    pointer-events: all;

  }

}


