#mid-container {
  //  > #middle-panel .selectedComponent {
  #middle-panel {
    .block-style-container {
      background-color: transparent;
      text-align: start;
      box-shadow: none;
      border: 5px dashed black;
      z-index: 1;
    }
    .container-hover {
      background-color: @hover-accept !important;
    }

  }
}

.draggable {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}

.droppable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  float: left;
  margin: 10px;
}


//VPC is always below everything
.AWS-EC2-VPC {
  z-index: 1 !important;
}

.AWS-EC2-Subnet {
  z-index: 2 !important;
}
