/**
  Colors
*************************************/
@ambiance: #646988;
@accent: #E2E2E2;
@dambiance: #404C62;
@lambiance: #E9E6EA;
@clouds: #E0DFDF;
@dashborder: #F6F5F5;
@darktext: rgb(48, 44, 53);
@lighttext: rgb(219, 219, 219);
@evening: #2E2633;
@helio: #99173C;
@orange: rgb(215, 179, 113);
@lightorange: #ffd88f;
@fieldborder: rgba(122, 122, 147, 0.36);
@darkfield: rgba(122, 122, 147, 0.64);
@listhover: rgba(233, 230, 234, 0.19);
@linkhover: rgba(38, 35, 42, 0.75);
@snow: white;
@attributes: #6F7B91;
@salmon: #f58780;


//Font
body {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.65px;
  font-weight: 400;
}

/* Center column style */
#container {
  background-color: white;
}



