
#left-panel {
  background-color: blue;
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0 /* 200 + 6*/;
  overflow: hidden;
//  right: 85%;
  .mainmenu {
    width: 59px;
    height: 100%;
    background-color: #191d24;
    padding-top: 67px;
    padding-left: 23px;
    .options {

    }
  }
  .optionsmenu-open {
    width: 230px;
    height: 100%;
    background-color: #202a36;
    padding: 0px;
  }

  .optionsmenu-close {
    width: 0;
    height: 100%;
    background-color: #202a36;
    padding: 0px;
  }
}



