
#left-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0 /* 200 + 6*/;
  overflow: hidden;
  right: 85%;
  .mainmenu {
    width: 50px;
    height: 100%;
    background-color: #191d24 ;
    .options {
      padding: 2px;
    }
  }
  .optionsmenu {
    width: 234px;
    height: 100%;
    background-color: #202a36;
    padding: 0px;
  }
}



