//  Left Top Column - Components Style
#left-panel > .optionsmenu {
  z-index: 0;

  //      Search Input Style
  #searchbox {
    display: inline-flex;
    width: 100%;
    .fieldset > label {
      position: absolute;
      left: 13px;
      top: 38px;
      color: rgba(112, 100, 130, 0.78);
    }
    input:focus::-webkit-input-placeholder {
      color: transparent;
    }
    .search {
      padding: 8px 15px 8px 34px;
      background-color: transparent;
      color: rgba(112, 100, 130, 0.78);
      border: 1px solid transparent;
      font-weight: 500;
      outline: none;
      width: 97.2%;
      margin-left: 4px;
      margin-top: 6px;
      &:focus {
        border: 1px solid #61708C;
        color: @ambiance;
      }
    }
    .button {
      position: relative;
      padding: 8px 15px;
      border: 0px solid #dbdbdb;
      left: -45px;
      color: #cbe2cb;
      text-decoration: none;
      background-color: transparent;
      .glyphicon {
        display: inline-block;
        cursor: pointer;
        color: rgba(112, 100, 130, 0.78);;
      }
      .glyphicon:hover {
        color: rgba(112, 100, 130, 0.78);;
      }
    }
  }
  #searchbox-tasks {
    display: inline-flex;
    width: 100%;
    .fieldset > label {
      position: absolute;
      left: 13px;
      top: 38px;
      color: rgba(112, 100, 130, 0.78);
    }
    input:focus::-webkit-input-placeholder {
      color: transparent;
    }
    .search {
      padding: 8px 15px 8px 34px;
      background-color: transparent;
      color: rgba(112, 100, 130, 0.78);
      border: 1px solid transparent;
      font-weight: 500;
      outline: none;
      width: 97.2%;
      margin-left: 4px;
      margin-top: 6px;
      &:focus {
        border: 1px solid #61708C;
        color: @ambiance;
      }
    }
    .button {
      position: relative;
      padding: 8px 15px;
      border: 0px solid #dbdbdb;
      left: -45px;
      color: #cbe2cb;
      text-decoration: none;
      background-color: transparent;
      .glyphicon {
        display: inline-block;
        cursor: pointer;
        color: rgba(112, 100, 130, 0.78);;
      }
      .glyphicon:hover {
        color: rgba(112, 100, 130, 0.78);;
      }
    }
  }

  //toggle button
  .toggleleft {
    float: right;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0px 5px;
    &:focus {
      outline: none;
    }
    i.fa-close {
      font-weight: 100;
    }
  }


  //       Components & Solution Stack Style
  #components {
    z-index: 1;
  }
  ul.nav-tabs.nav-justified {
    .components-tab {
      //          padding-left: 7px;
    }
    .tasks-tab {
      //          padding-right: 6px;
    }
    li > a {
      text-decoration: none;
      cursor: pointer;
      background-color: @teal;
      color: white;
      font-weight: 400;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid rgba(229, 229, 229, 0.3);
    }
    .active > a {
      background-color: @teal;
      color: white;
    }
  }
  .tab-content {
    background-color: rgba(221, 221, 213, 0);
    border-bottom-color: rgba(112, 100, 130, 0.78);
    .tab-pane {
      padding: 0px;
      .glyphicon-chevron-left {
        color: #efefef;
        padding: 10px;
        font-size: 15px;
        &:before {
          font-size: 12px;
          padding-right: 2px;
        }
        &:hover {
          color: black;
        }
      }
      .empty-container {
        width: 224px;
        height: 40px !important;
//        left: 40px;
        position: absolute;
        color: transparent;
        z-index: 1001;
        .pdiv {
          float: left;
          width: 82.5%;
          vertical-align: middle;
          position: absolute;
          height: 40px;
          border-bottom: 1px solid transparent;
          left: 40px;
          p {
            font-size: 12px;
            vertical-align: middle;
            letter-spacing: 0.19px;
            text-transform: uppercase;
            margin: 11px 0 10px;
            padding-left: 10px;
          }
        }
        .imgdiv {
          float: left;
          width: 40px;
          height: 40px;
          img.component-image {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 5px;
            margin-top: 4px;
          }
        }
        &:hover {
          cursor: move;
          background-color: rgba(222, 222, 222, 0.05);
        }
      }
      .component-item {
        display: table-cell;
        vertical-align: middle;
        color: #5C6A74;
        font-weight: 400;
        width: 224px;
        height: 40px !important;
        border-bottom: 1px solid rgba(29, 35, 45, 0.73);
        &:hover {
          cursor: pointer;
          background-color: rgba(222, 222, 222, 0.05);
        }
        .pdiv {
          float: left;
          width: 82.5%;
          vertical-align: middle;
          position: absolute;
          left: 40px;
          height: 40px;
          border-bottom: @linkhover;
          p {
            font-size: 12px;
            vertical-align: middle;
            letter-spacing: 0.19px;
            text-transform: uppercase;
            margin: 11px 0 10px;
            padding-left: 10px;
          }
        }
        .imgdiv {
          float: left;
          width: 40px;
          height: 40px;
          img.component-image {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 5px;
            margin-top: 4px;
          }
        }
      }
      .task-item {
        display: table-cell;
        vertical-align: middle;
        font-weight: 400;
        width: 224px;
        height: 40px !important;
        border-bottom: 1px solid rgba(29, 35, 45, 0.73);
        padding: 10px 15px 10px 15px;
        cursor: pointer;
        &:hover {
          cursor: pointer;
          background-color: rgba(222, 222, 222, 0.05);
        }
        &:active {
          border-left: 2px solid #f2ecbd;
        }
        a {
          color: #5C6A74;
          font-size: 13px;
          vertical-align: middle;
          letter-spacing: 0.19px;
          text-decoration: none;
          &:hover {
            text-decoration: none
          }
          &:active {
            color: #f2ecbd;
          }
        }
      }
    }
  }

//  properties style
  #properties {
    z-index: 1;
    height: 100%;
    background-color: #394a57;
    .left-column-bottom {
      background-color: white;
      width: 100%;
      .cd-fixed-bg {
        //        position: fixed;
        top: 0px;
        background-color: @ambiance;
        width: 100%;
        padding: 14px 10px 5px 15px;
        color: @snow;
        margin: 0px;
        #titleh4 {
          font-size: 16px;
          margin-top: 4px;
          font-weight: 600;
          color: @snow;
        }
        #titleh5 {
          font-size: 12px;
          margin-top: 10px;
          color: @snow;
        }
        .generate {
          margin-right: 0px;
          .col-sm-5 {
            padding-left: 24px;
          }
        }
        .action {
          padding-left: 5px;
          text-align: left;

          .label {
            border: 1px solid #e1e1e1;
            box-shadow: 0 0 0 1px rgba(68, 77, 101, 0.4);
            color: white;
            background-color: transparent;
            padding: .6em;
            border-radius: 0.25em;
            transition: border-color 0.2s, background-color 0.2s;
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.5px;
            &:hover,
            &:focus {
              text-decoration: none;
              background-color: white;
              color: @ambiance;
              outline: 0;
            }
          }
        }
      }
      .contenth5 {
        padding: 10px 10px 15px 15px;
        background-color: @teal;
        margin-top: 0px;
        margin-bottom: 0px;
        color: white;
      }
      .contenth6 {
        padding: 10px 10px 15px 15px;
        background-color: rgba(112, 128, 144, 0.23);
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .content {
        background-color: #2b3743;
        padding-left: 15px;
        .component-item {
          display: table-cell;
          vertical-align: middle;
          color: @snow;
          width: 100%;
          height: 80px;
          .pdiv {
            float: left;
            width: 100%;
            vertical-align: middle;
            padding-top: 10px;
            p {
              vertical-align: middle;
            }
          }
          .imgdiv {
            float: left;
            width: 50px;
            img.component-image {
              width: 40px;
              height: 40px;
            }
          }
        }

        .tablename {
          padding: 10px 0px 5px 0px;
        }

        /* STYLES FOR ACCORDION */
        .propertiesaccordion {
          .panel-group {
            margin-bottom: 0px;
            border-radius: 0px;
            width: 100%;
            .optionalheading.panel.panel-default.ng-isolate-scope {
              .panel-heading {
                border-left: 10px solid rgba(112, 128, 144, 0.23);
              }
            }
            .panel.panel-default.ng-isolate-scope {
              border: none;
              margin-left: -14px;
              .panel-heading {
                background-color: #6E7E8C;
                color: black;
                border-radius: 0px;
                border-bottom: 1px solid rgba(29, 35, 45, 0.73);
                border-top: 1px solid rgba(29, 35, 45, 0.73);
                margin-top: -2px;
                .table-responsive {
                  border-top: 0px;
                }
                h4.panel-title {
                  font-size: 14px;
                  a {
                    text-decoration: none;
                    color: @evening;
                    cursor: pointer;
                    span {
                      color: #EFEFEF;
                    }
                  }
                }
              }
              .collapsing {
                -webkit-transition: none;
                transition: none !important;
                width: 100%;
              }
              .panel-collapse {
                .panel-body {
                  border-top: none;
                  padding: 0px 10px 15px 10px;
                   background-color: #2b3743;
                  .new {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: #00c29d;
                    transition: background-color 0.2s;
                    border: none;
                    &:hover {
                      background-color: rgba(0, 194, 157, 0.81);
                      outline: 0;
                      border: none;
                    }
                    &:focus {
                      outline: 0;
                      border: none;
                    }
                    span {
                      top: -1px;
                      right: 5.5px;
                      color: white;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
        .pull-right {
          top: -15px;
          font-size: 12px;
          color: #EFEFEF;
        }

        /* STYLE FOR TABLES WITHIN PROPERTIES ACCORDION */
        #no-more-tables1 table,
        #no-more-tables1 thead,
        #no-more-tables1 tbody,
        #no-more-tables1 th,
        #no-more-tables1 td,
        #no-more-tables1 tr {
          display: block;
        }
        #no-more-tables1 table {
        }
        //        Hide table headers (but not display: none;, for accessibility)
        #no-more-tables1 thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
        #no-more-tables1 tr {
          border: 1px solid rgba(204, 204, 204, 0.31);
          background-color: rgba(221, 221, 213, 0);
          border-top: none;
        }
        #no-more-tables1 td {
          //          Behave  like a "row"
          border: none;
          position: relative;
          padding-left: 50%;
          white-space: normal;
          text-align: left;
          padding-right: 10px;
          background-color: rgb(56, 71, 84);
          font-size: 14px;
          .editable {
            margin-top: 6px;
            margin-left: 20px;
          }
          .editable-controls {
            margin-left: 0px;
          }
          .btn-default {
            background-color: #aab2c0;
            color: white;
            border: none;
            &:hover {
              background-color: rgba(182, 190, 206, 0.90);
              border: none;
            }
          }
          .btn:focus, .btn:active:focus, .btn.active:focus {
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
          input {
            border: 2px solid @fieldborder;
            padding: 2px;
            background: white;
            margin: 2px 5px 2px 8px;
            outline: none;
            height: 27px;
            box-shadow: none;
            border-radius: 0px;
            &:focus {
              border: 2px solid @darkfield;
              background-color: white;
            }
          }
          .propertyselect {
            border: 2px solid @fieldborder;
            padding: 2px;
            background: white;
            margin: 2px 5px 12px 0px;
            outline: none;
            height: 27px;
            box-shadow: none;
            border-radius: 0px;
            width: 57%;
            color: @ambiance;
            &:focus {
              border: 2px solid @darkfield;
              background-color: white;
            }
          }
          .editable-input {
            border: 1px solid rgba(52, 56, 68, 0.36);
            padding: 2px;
            background: #191d24;
            margin: 2px 5px 20px 0px;
            outline: none;
            color: #6f7b91;
            height: 26px;
            &:focus {
              border: 1px solid @darkfield;
              background: #191d24;
              outline: none;
            }
          }
          ul {
            padding-left: 6px;
            li {
              margin-left: 6px;
              span {
                font-size: 14px;
              }
            }
          }
        }
        .table-bordered {
          border: 0px;
        }
        #no-more-tables1 td:before {
          //          Now like a table header
          position: absolute;
          // Top/left values mimic padding //
          top: 14px;
          left: 12px;
          width: 45%;
          padding-right: 10px;
          padding-left: 10px;
          white-space: nowrap;
          text-align: left;
          font-weight: 400;
          color: @ambiance;
        }
        //        Label the data
        #no-more-tables1 td:before {
          content: attr(data-title);
        }
        .table-responsive {
          margin-left: -10px;
          width: 223px;
        }
        span {
          color: @attributes;
          display: block;
        }

        /* STYLE FOR TABLES WITHIN PROPERTIES ACCORDION */
        #no-more-tables2 table,
        #no-more-tables2 thead,
        #no-more-tables2 tbody,
        #no-more-tables2 th,
        #no-more-tables2 td,
        #no-more-tables2 tr {
          display: block;
        }
        #no-more-tables2 table {
        }
        //        Hide table headers (but not display: none;, for accessibility)
        #no-more-tables2 thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
        #no-more-tables2 tr {
          border: 1px solid #ccc;
          border-top: none;
        }
        #no-more-tables2 td {
          //          Behave  like a "row"
          border: none;
          position: relative;
          padding-left: 50%;
          white-space: normal;
          text-align: left;
          padding-right: 10px;
          font-size: 14px;
          background-color: rgb(56, 71, 84);
          .btn-default {
            background-color: #aab2c0;
            color: white;
            border: none;
            &:hover {
              background-color: rgba(182, 190, 206, 0.90);
              border: none;
            }
          }
          .btn:focus, .btn:active:focus, .btn.active:focus {
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
          input {
            border: 2px solid @fieldborder;
            padding: 2px;
            background: white;
            margin: 2px 5px 2px 0px;
            outline: none;
            height: 27px;
            box-shadow: none;
            border-radius: 0px;
            &:focus {
              border: 2px solid @darkfield;
              background-color: white;
            }
          }
          .propertyselect {
            border: 2px solid @fieldborder;
            padding: 2px;
            background: white;
            margin: 2px 5px 12px 0px;
            outline: none;
            height: 27px;
            box-shadow: none;
            border-radius: 0px;
            width: 57%;
            color: @ambiance;
            &:focus {
              border: 2px solid @darkfield;
              background-color: white;
            }
          }
          ul {
            padding-left: 6px;
            li {
              margin-left: 6px;
              span {
                font-size: 14px;
              }
            }
          }
        }
        .table-bordered {
          border: 0px;
        }
        #no-more-tables2 td:before {
          //          Now like a table header
          position: absolute;
          // Top/left values mimic padding //
          top: 6px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          text-align: left;
          font-weight: 400;
          color: @ambiance;
        }
        //        Label the data
        #no-more-tables2 td:before {
          content: attr(data-title);
        }
        .table-responsive {
          margin-left: -10px;
        }
        span {
          color: @attributes;
          display: block;
        }
      }
      .tooltip.top {
        margin-left: -50px;
        margin-top: 0px;
      }
      /*Input field style */
      .propertyinput {
        border: 1px solid rgba(52, 56, 68, 0.36);
        padding: 2px;
        background: #191d24;
        margin: 2px 5px 20px 0px;
        outline: none;
        color: #6f7b91;
        &:focus {
          border: 1px solid @darkfield;
          background: #191d24;
        }
      }
      .propertyselect {
        border: 2px solid @fieldborder;
        padding: 2px;
        background: white;
        margin: 2px 5px 12px 0px;
        outline: none;
        height: 27px;
        box-shadow: none;
        border-radius: 0px;
        width: 57%;
        color: @ambiance;
        &:focus {
          border: 2px solid @darkfield;
          background-color: white;
        }
      }

      /*These are for the complex properties that you need to drag*/
      .empty-container-property {
        width: 215px;
        height: 80px;
        position: absolute;
        color: #ffffff;
        cursor: pointer;
        font-weight: 400;
        border-bottom: 1px solid rgba(233, 230, 234, 0.19);
        margin-left: -15px;
      }
    }
  }
}



