/**
  Colors
*************************************/
body {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.65px;
  font-weight: 400;
}
/* Center column style */
#container {
  background-color: white;
}
.modal-backdrop.fade.in {
  opacity: 0.8;
}
.modal-header {
  font-size: 24px;
  line-height: 69px;
  color: white;
  background: #2b3743;
  border: solid 1px #2b3743;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  z-index: 999;
  padding: 12px;
  text-align: center;
}
.modal-body .input {
  border: 2px solid rgba(122, 122, 147, 0.36);
  padding: 2px;
  background: white;
  margin: 2px 5px 12px 0px;
  outline: none;
  height: 27px;
  box-shadow: none;
  border-radius: 0px;
  width: 40%;
  color: #2b3743;
}
.modal-body .input:focus {
  border: 2px solid rgba(122, 122, 147, 0.64);
  background-color: white;
}
.modal-body hr {
  margin: 10px;
  border-top: 1px solid rgba(100, 105, 136, 0.11);
}
.modal-body h4 {
  font-weight: 600;
  font-size: 16px;
}
.modal-body .row h4 {
  padding: 10px 10px 10px 20px;
}
.modal-body .row .col-lg-3 {
  margin-bottom: 20px;
}
.modal-body .row .col-lg-3 .input-group img {
  vertical-align: top;
  margin-top: -6px;
}
.modal-body .row .col-lg-3 .input-group .input-group-addon {
  padding: 0 0 0 20px;
  background-color: white;
  border: none;
}
.modal-body .row .col-lg-3 .input-group .input-group-addon input {
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
.modal-body .row .col-lg-4 > .input-group > .input-group-addon {
  padding: 0 0 0 20px;
  background-color: white;
  border: none;
}
.modal-body .row .col-lg-4 > .input-group > .input-group-addon input {
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  margin-top: 2px;
}
.modal-body .row .col-lg-6 > .input-group > .input-group-addon {
  padding: 0 0 0 20px;
  background-color: white;
  border: none;
}
.modal-body .row .col-lg-6 > .input-group > .input-group-addon input {
  margin-right: 10px;
  font-size: 16px;
}
.modal-footer {
  border-top: none;
}
.modal-footer hr {
  margin: 10px;
  border-top: 1px solid rgba(100, 105, 136, 0.11);
}
.modal-footer .btn:focus,
.modal-footer .btn:active:focus,
.modal-footer .btn.active:focus {
  outline: 0;
}
.modal-footer .btn-warning {
  background-color: #b6bece;
  border: #b6bece;
  color: white;
  font-weight: 200;
}
.modal-footer .btn-warning:hover {
  background-color: rgba(182, 190, 206, 0.76);
}
.modal-footer .btn-primary {
  background-color: #fc7169;
  border: #fc7169;
  color: white;
  font-weight: 200;
}
.modal-footer .btn-primary:hover {
  background-color: rgba(252, 113, 105, 0.72);
}
#right-panel.ace-twilight {
  height: 100%;
  background-color: #191d24;
}
#right-panel.ace-twilight .ace_gutter {
  background-color: #202a36;
  color: #5C6A74;
}
#right-panel.ace-twilight .ace_scroller > .ace_content {
  background-color: #191d24;
}
#right-panel.ace-twilight .ace_scroller > .ace_content .ace_layer.ace_text-layer > .ace_line .ace_variable {
  color: #9AABC8;
}
#right-panel.ace-twilight .ace_scroller > .ace_content .ace_layer.ace_text-layer > .ace_line .ace_string {
  color: #EFEFEF;
}
#right-panel.ace-twilight .ace_scroller > .ace_content .ace_layer.ace_text-layer > .ace_line .ace_paren {
  color: #1CBEBB;
}
#right-panel.ace-twilight .ace_marker-layer .ace_selection {
  background: rgba(161, 169, 182, 0.22);
}
#mid-container > #middle-panel .canvasbtns {
  padding: 10px;
}
#mid-container > #middle-panel .canvasbtns .btn:focus,
#mid-container > #middle-panel .canvasbtns .btn:active:focus,
#mid-container > #middle-panel .canvasbtns .btn.active:focus {
  outline: none !important;
}
#mid-container > #middle-panel .canvasbtns .btn-warning {
  background-color: #b6bece;
  border: #b6bece;
  color: white;
  font-weight: 200;
}
#mid-container > #middle-panel .canvasbtns .btn-warning:hover {
  background-color: rgba(182, 190, 206, 0.76);
}
#mid-container > #middle-panel .canvasbtns .btn-primary {
  background-color: #fc7169;
  border: #fc7169;
  color: white;
  font-weight: 200;
}
#mid-container > #middle-panel .canvasbtns .btn-primary:hover {
  background-color: rgba(252, 113, 105, 0.72);
}
#mid-container > #middle-panel .item {
  position: absolute;
  width: 170px;
  height: 100px;
  font-size: 80%;
  z-index: 3;
  text-align: center;
  display: inline-block;
  -webkit-transition-duration: 0.02s;
  transition-duration: 0.02s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  border: 1px solid rgba(106, 126, 163, 0.34);
  border-radius: 0;
}
#mid-container > #middle-panel .item img {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: -4px;
  margin-top: 20px;
}
#mid-container > #middle-panel .item .title {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.19px;
  position: relative;
  padding: 40px 2px 11px 2px;
  margin-bottom: 0px;
  cursor: move;
  color: #404c62;
  bottom: 34px;
}
#mid-container > #middle-panel .item p > .delete {
  border-radius: 0px;
  border: 0px;
  background-color: rgba(185, 191, 202, 0.38);
  color: rgba(127, 139, 145, 0.68);
  float: left;
  position: absolute;
  left: -1px;
}
#mid-container > #middle-panel .item p > .delete:focus {
  outline: none;
}
#mid-container > #middle-panel .item .ep {
  position: absolute;
  bottom: 42%;
  right: 3px;
  color: white;
  width: 10px;
  height: 10px;
  background-color: rgba(213, 50, 43, 0.57);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in;
  -moz-transition: -moz-box-shadow 0.25s ease-in;
  transition: box-shadow 0.25s ease-in;
}
#mid-container > #middle-panel .item .ep .fa {
  margin-top: 5px;
  color: #17bcb8;
}
#mid-container > #middle-panel .selectedComponent {
  background-color: rgba(170, 185, 192, 0.12);
  border: 1px solid rgba(106, 126, 163, 0.34);
  border-radius: 0;
}
#mid-container > #middle-panel .selectedComponent img {
  margin-top: 0px;
}
#mid-container > #middle-panel .selectedComponent p > .delete {
  border-radius: 0px;
  border: 0px;
  background-color: rgba(185, 191, 202, 0.38);
  color: rgba(127, 139, 145, 0.68);
  float: left;
  position: absolute;
  left: -1px;
}
#mid-container > #middle-panel .selectedComponent .title {
  color: #2e2633;
}
#mid-container > #middle-panel .AWS-EC2-EIP > img {
  height: 20px;
  margin-top: 40px;
}
#mid-container > #middle-panel .AWS-EC2-EIP.selectedComponent > img {
  height: 20px;
  margin-top: 20px;
}
#mid-container > #middle-panel div[resizable] {
  border: 1px solid Black;
  width: 50%;
}
#mid-container > #middle-panel .animate-show {
  opacity: 1;
}
#mid-container > #middle-panel .animate-show.ng-hide {
  opacity: 0;
}
#mid-container > #middle-panel .deletecomponent {
  padding: 2px;
  border-radius: 50%;
  z-index: 1000;
  background-color: transparent;
  border: none;
}
#mid-container > #middle-panel .deletecomponent:focus {
  outline: none;
}
#mid-container > #middle-panel .deletecomponent i {
  font-size: 14px;
  color: #a5a6a6;
}
#mid-container > #middle-panel .deletecomponent i:hover {
  color: #e27a7a;
}
#mid-container > #middle-panel .propertycanvas {
  padding: 0px;
  margin-left: 5px;
  z-index: 1000;
  border: teal;
  background-color: transparent;
}
#mid-container > #middle-panel .propertycanvas:focus {
  outline: none;
}
#mid-container > #middle-panel .propertycanvas img {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#mid-container > #middle-panel ._jsPlumb_overlay {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid lightsteelblue;
}
#mid-container > #middle-panel svg {
  pointer-events: all;
}
#mid-container > #middle-panel svg path {
  stroke: rgba(111, 123, 145, 0.49) !important;
}
#mid-container > #middle-panel svg ._jsPlumb.connector > path {
  fill: #2b3743;
  z-index: -1;
}
#mid-container > #middle-panel svg circle {
  fill: transparant;
  stroke: rgba(213, 50, 43, 0.57);
  stroke-width: 2px;
  z-index: 1000;
}
#mid-container > #middle-panel svg ._jsPlumb_endpoint._jsPlumb_endpoint_anchor_.ui-droppable.ui-draggable.ui-draggable-handle._jsPlumb_endpoint_connected._jsPlumb_endpoint_full circle {
  fill: #2b3743;
  stroke: #2b3743;
  stroke-width: 2px;
  z-index: 1;
}
#mid-container > #middle-panel svg path {
  stroke: rgba(213, 50, 43, 0.29) !important;
  stroke-width: 1.5px;
}
/* Sub-Menu Style */
#left-panel > .optionsmenu {
  /* ----------- Component, Solution stack, and Property draggable items ----------*/
  /* ----------- Component specific styles ----------*/
  /* ----------- Solutions-Stack specific styles ----------*/
  /* ----------- Properties specific styles ----------*/
}
#left-panel > .optionsmenu .searchbox {
  display: inline-flex;
  width: 100%;
}
#left-panel > .optionsmenu .searchbox .fieldset > label {
  position: absolute;
  left: 13px;
  top: 38px;
  color: rgba(112, 100, 130, 0.78);
}
#left-panel > .optionsmenu .searchbox input:focus::-webkit-input-placeholder {
  color: transparent;
}
#left-panel > .optionsmenu .searchbox .search {
  padding: 8px 15px 8px 34px;
  background-color: transparent;
  color: rgba(112, 100, 130, 0.78);
  border: 1px solid transparent;
  font-weight: 500;
  outline: none;
  width: 97.2%;
  margin-left: 4px;
  margin-top: 6px;
}
#left-panel > .optionsmenu .searchbox .search:focus {
  border: 1px solid #61708C;
  color: #2b3743;
}
#left-panel > .optionsmenu .searchbox .button {
  position: relative;
  padding: 8px 15px;
  border: 0px solid #dbdbdb;
  left: -45px;
  color: #cbe2cb;
  text-decoration: none;
  background-color: transparent;
}
#left-panel > .optionsmenu .searchbox .button .glyphicon {
  display: inline-block;
  cursor: pointer;
  color: rgba(112, 100, 130, 0.78);
}
#left-panel > .optionsmenu .searchbox .button .glyphicon:hover {
  color: rgba(112, 100, 130, 0.78);
}
#left-panel > .optionsmenu .tooltip.top {
  margin-left: -50px;
  margin-top: 0px;
}
#left-panel > .optionsmenu ul.nav-tabs.nav-justified li > a {
  text-decoration: none;
  cursor: pointer;
  background-color: #1e7c7a;
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(229, 229, 229, 0.3);
}
#left-panel > .optionsmenu ul.nav-tabs.nav-justified .active > a {
  background-color: #1e7c7a;
  color: white;
}
#left-panel > .optionsmenu .tab-content {
  background-color: rgba(221, 221, 213, 0);
  border-bottom-color: rgba(112, 100, 130, 0.78);
}
#left-panel > .optionsmenu .tab-content .tab-pane {
  padding: 0px;
}
#left-panel > .optionsmenu .tab-content .tab-pane .glyphicon-chevron-left {
  color: #efefef;
  padding: 10px;
  font-size: 15px;
}
#left-panel > .optionsmenu .tab-content .tab-pane .glyphicon-chevron-left:before {
  font-size: 12px;
  padding-right: 2px;
}
#left-panel > .optionsmenu .tab-content .tab-pane .glyphicon-chevron-left:hover {
  color: black;
}
#left-panel > .optionsmenu .empty-container {
  width: 229px;
  height: 40px !important;
  position: absolute;
  color: transparent;
  z-index: 1001;
}
#left-panel > .optionsmenu .empty-container .pdiv {
  float: left;
  width: 82.5%;
  vertical-align: middle;
  position: absolute;
  height: 40px;
  border-bottom: 1px solid transparent;
  left: 40px;
}
#left-panel > .optionsmenu .empty-container .pdiv p {
  font-size: 12px;
  vertical-align: middle;
  letter-spacing: 0.19px;
  text-transform: uppercase;
  margin: 11px 0 10px;
  padding-left: 10px;
}
#left-panel > .optionsmenu .empty-container .imgdiv {
  float: left;
  width: 40px;
  height: 40px;
}
#left-panel > .optionsmenu .empty-container .imgdiv img.component-image {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  margin-top: 10px;
}
#left-panel > .optionsmenu .empty-container:hover {
  cursor: move;
  background-color: rgba(222, 222, 222, 0.05);
}
#left-panel > .optionsmenu .empty-container.property {
  width: 229px;
  left: 0px;
  border-bottom: 1px solid rgba(29, 35, 45, 0.4);
}
#left-panel > .optionsmenu .component-item {
  display: table-cell;
  vertical-align: middle;
  color: #5C6A74;
  font-weight: 400;
  width: 224px;
  height: 40px !important;
  border-bottom: 1px solid rgba(29, 35, 45, 0.73);
}
#left-panel > .optionsmenu .component-item:hover {
  cursor: pointer;
  background-color: rgba(222, 222, 222, 0.05);
}
#left-panel > .optionsmenu .component-item .pdiv {
  float: left;
  width: 82.5%;
  vertical-align: middle;
  position: absolute;
  left: 40px;
  height: 40px;
  border-bottom: rgba(38, 35, 42, 0.75);
}
#left-panel > .optionsmenu .component-item .pdiv p {
  font-size: 12px;
  vertical-align: middle;
  letter-spacing: 0.19px;
  text-transform: uppercase;
  margin: 11px 0 10px;
  padding-left: 10px;
}
#left-panel > .optionsmenu .component-item .imgdiv {
  float: left;
  width: 40px;
  height: 40px;
}
#left-panel > .optionsmenu .component-item .imgdiv img.component-image {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  margin-top: 10px;
}
#left-panel > .optionsmenu .component-item.property {
  border-bottom: none;
}
#left-panel > .optionsmenu .component-item.property .pdiv {
  width: 82.5% !important;
  padding-top: 1px !important;
}
#left-panel > .optionsmenu .component-item.property .pdiv p {
  color: #6f7b91;
}
#left-panel > .optionsmenu .component-item.property .imgdiv {
  padding-top: 10px !important;
}
#left-panel > .optionsmenu .component-item.property .imgdiv img {
  margin-top: 0px !important;
  width: 20px !important;
  height: 20px !important;
  left: 10px !important;
}
#left-panel > .optionsmenu .propertyinput {
  border: 1px solid rgba(52, 56, 68, 0.36);
  padding: 2px;
  background: #191d24;
  margin: 2px 5px 20px 0px;
  outline: none;
  color: #6f7b91;
}
#left-panel > .optionsmenu .propertyinput:focus {
  border: 1px solid rgba(122, 122, 147, 0.64);
  background: #191d24;
}
#left-panel > .optionsmenu .propertyselect {
  border: 1px solid rgba(52, 56, 68, 0.36);
  padding: 2px;
  background: #191d24;
  margin: 2px 5px 12px 0px;
  outline: none;
  height: 27px;
  box-shadow: none;
  border-radius: 0px;
  width: 64%;
  color: #6f7b91;
}
#left-panel > .optionsmenu .propertyselect:focus {
  border: 1px solid rgba(122, 122, 147, 0.64);
  background: #191d24;
}
#left-panel > .optionsmenu .propertyinput.ng-valid.ng-dirty label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(top, #222222 0%, #45484d 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
#left-panel > .optionsmenu .propertyinput.ng-valid.ng-dirty label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
#left-panel > .optionsmenu .propertyinput.ng-valid.ng-dirty label:hover::after {
  opacity: 0.3;
}
#left-panel > .optionsmenu .propertyinput.ng-valid.ng-dirty input[type=checkbox] {
  visibility: hidden;
}
#left-panel > .optionsmenu .propertyinput.ng-valid.ng-dirty input[type=checkbox]:checked + label:after {
  opacity: 1;
}
#left-panel > .optionsmenu #components {
  z-index: 1;
}
#left-panel > .optionsmenu .task-item {
  display: table-cell;
  vertical-align: middle;
  font-weight: 400;
  width: 229px;
  height: 40px !important;
  border-bottom: 1px solid rgba(29, 35, 45, 0.73);
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}
#left-panel > .optionsmenu .task-item:hover {
  cursor: pointer;
  background-color: rgba(222, 222, 222, 0.05);
}
#left-panel > .optionsmenu .task-item:active {
  border-left: 2px solid #f2ecbd;
}
#left-panel > .optionsmenu .task-item a {
  color: #5C6A74;
  font-size: 13px;
  vertical-align: middle;
  letter-spacing: 0.19px;
  text-decoration: none;
}
#left-panel > .optionsmenu .task-item a:hover {
  text-decoration: none;
}
#left-panel > .optionsmenu .task-item a:active {
  color: #f2ecbd;
}
#left-panel > .optionsmenu #properties {
  z-index: 1;
  height: 100%;
  background-color: #202a36;
}
#left-panel > .optionsmenu #properties .left-column-bottom {
  background-color: white;
  width: 100%;
  /* ----------- All styles for accordion and any content within it ----------*/
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesHeader {
  top: 0px;
  background-color: #2b3743;
  width: 100%;
  padding: 14px 10px 5px 15px;
  color: #ffffff;
  margin: 0px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesHeader #componentName {
  font-size: 14px;
  margin-top: 4px;
  font-weight: 600;
  color: #ffffff;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesHeader #componentType {
  font-size: 12px;
  margin-top: 10px;
  color: #ffffff;
}
#left-panel > .optionsmenu #properties .left-column-bottom .requiredORoptional {
  padding: 10px 10px 15px 15px;
  background-color: #1e7c7a;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertyname {
  padding: 10px 0px 5px 0px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertyname span {
  font-size: 12px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group {
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .optionalheading.panel.panel-default.ng-isolate-scope .panel-heading {
  border-left: 10px solid rgba(112, 128, 144, 0.23);
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope {
  border: none;
  margin-left: -14px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-heading {
  background-color: #394a57;
  color: black;
  border-radius: 0px;
  border-bottom: 2px solid rgba(120, 126, 137, 0.11);
  border-top: 1px solid rgba(29, 35, 45, 0.73);
  margin-top: -2px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-heading .table-responsive {
  border-top: 0px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-heading h4.panel-title {
  font-size: 14px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-heading h4.panel-title a {
  text-decoration: none;
  color: #2e2633;
  cursor: pointer;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-heading h4.panel-title a span {
  color: #EFEFEF;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .collapsing {
  -webkit-transition: none;
  transition: none !important;
  width: 100%;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-collapse .panel-body {
  border-top: none;
  padding: 0px 10px 15px 10px;
  background-color: #2b3743;
  border-bottom: 1px solid #3c465c;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-collapse .panel-body .new {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s;
  border: none;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-collapse .panel-body .new:hover {
  background-color: rgba(0, 194, 157, 0.07);
  outline: 0;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-collapse .panel-body .new:focus {
  outline: 0;
  border: none;
}
#left-panel > .optionsmenu #properties .left-column-bottom .propertiesaccordion .panel-group .panel.panel-default.ng-isolate-scope .panel-collapse .panel-body .new span {
  top: -1px;
  right: 5.2px;
  color: #00c29d;
  font-size: 12px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .pull-right {
  top: -15px;
  font-size: 12px;
  color: #EFEFEF;
}
#left-panel > .optionsmenu #properties .left-column-bottom span {
  color: #6f7b91;
  display: block;
}
#left-panel > .optionsmenu #properties .left-column-bottom .editable-input {
  border: 1px solid rgba(52, 56, 68, 0.36);
  padding: 2px;
  background: #191d24;
  margin: 2px 5px 20px 0px;
  outline: none;
  color: #6f7b91;
  height: 26px;
  box-shadow: none;
}
#left-panel > .optionsmenu #properties .left-column-bottom .editable-input:focus {
  border: 1px solid rgba(122, 122, 147, 0.64);
  background: #191d24;
  outline: none;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-primary.edit {
  background-color: transparent;
  border: none;
  padding: 0px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-primary.edit .fa {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  color: #2E85AB;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-primary.edit .fa:hover {
  color: #2e6da4;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-danger.delete {
  background-color: transparent;
  border: none;
  padding: 0px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-danger.delete .fa {
  font-size: 18px;
  margin-right: 20px;
  color: #B25856;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-danger.delete .fa:hover {
  color: #C82F2A;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-primary.save {
  background-color: transparent;
  border: none;
  padding: 0px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-primary.save .fa {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  color: #36B3EA;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-primary.save .fa:hover {
  color: #2e6da4;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-danger.cancel {
  background-color: transparent;
  border: none;
  padding: 0px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-danger.cancel .fa {
  font-size: 18px;
  margin-right: 20px;
  color: #97A637;
}
#left-panel > .optionsmenu #properties .left-column-bottom .btn-danger.cancel .fa:hover {
  color: #BDD048;
}
#left-panel > .optionsmenu #properties .left-column-bottom .table-bordered {
  border: 0px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .table-responsive {
  margin-left: -12px;
  width: 230px;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 table,
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 thead,
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 tbody,
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 th,
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td,
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 tr {
  display: block;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 tr {
  background-color: rgba(221, 221, 213, 0);
  border-top: none;
  border-bottom: 1px solid #3c465c;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td {
  border: none;
  position: relative;
  padding-left: 50%;
  white-space: normal;
  text-align: left;
  padding-right: 10px;
  background-color: #2b3743;
  font-size: 14px;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td .editable {
  margin-top: 6px;
  margin-left: 20px;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td .editable-controls {
  margin-left: 0px;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td .btn-default {
  background-color: #aab2c0;
  color: white;
  border: none;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td .btn-default:hover {
  background-color: rgba(182, 190, 206, 0.9);
  border: none;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td .btn:focus,
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td .btn:active:focus,
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td .btn.active:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td ul {
  padding-left: 6px;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td ul li {
  margin-left: 6px;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td ul li span {
  font-size: 14px;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td:before {
  position: absolute;
  top: 14px;
  left: 2px;
  width: 45%;
  padding-right: 10px;
  padding-left: 10px;
  white-space: nowrap;
  text-align: left;
  font-weight: 400;
  color: #ADB5C3;
}
#left-panel > .optionsmenu #properties .left-column-bottom #no-more-tables1 td:before {
  content: attr(data-title);
}
#left-panel > .optionsmenu #properties .left-column-bottom .content {
  background-color: #2b3743;
  padding-left: 15px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .content .component-item {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  width: 100%;
  height: 80px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .content .component-item .pdiv {
  float: left;
  width: 100%;
  vertical-align: middle;
  padding-top: 10px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .content .component-item .pdiv p {
  vertical-align: middle;
}
#left-panel > .optionsmenu #properties .left-column-bottom .content .component-item .imgdiv {
  float: left;
  width: 50px;
}
#left-panel > .optionsmenu #properties .left-column-bottom .content .component-item .imgdiv img.component-image {
  width: 40px;
  height: 40px;
}
/**
  Resizable bar between each column & row
*************************************/
.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Can be changed by hand ;)*/
  overflow: auto;
  background-color: transparent;
  z-index: 1;
}
.ui-splitbar {
  display: block;
  right: auto;
  position: absolute;
  z-index: 99999;
}
.ui-layout-row > .ui-splitbar {
  height: 4px !important;
  width: 100%;
  cursor: row-resize;
  background-color: #C9CFD8;
}
.ui-layout-column > .ui-splitbar {
  width: 3px !important;
  height: 100%;
  cursor: col-resize;
}
.dragging {
  z-index: 9999;
  position: absolute;
}
.dragging .component-item {
  display: table-cell;
  vertical-align: middle;
  color: #202a36;
  font-weight: 400;
  width: 210px;
  height: 40px;
}
.dragging .component-item:hover {
  cursor: pointer;
  background-color: #1e7c7a;
  color: white;
}
.dragging .component-item .pdiv {
  float: left;
  width: 75%;
  vertical-align: middle;
  position: absolute;
  left: 40px;
  height: 39px;
  background-color: rgba(161, 169, 182, 0.81);
}
.dragging .component-item .pdiv p {
  font-size: 12px;
  vertical-align: middle;
  letter-spacing: 0.19px;
  text-transform: uppercase;
  margin: 11px 0 10px;
  padding-left: 10px;
}
.dragging .component-item .imgdiv {
  float: left;
  width: 40px;
  height: 40px;
  background-color: rgba(32, 42, 54, 0.82);
}
.dragging .component-item .imgdiv img.component-image {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
  margin-top: 4px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', Arial;
  color: #666666;
  -webkit-font-smoothing: antialiased;
}
/* Navbar */
header .navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
}
header .navbar-inverse ul.navbar-nav li a.getApp {
  color: #DD4444;
}
header .navbar-inverse ul.navbar-nav li a.getApp:after {
  display: none;
}
header .navbar-inverse ul.navbar-nav li a.getApp:hover {
  color: white;
}
header .navbar-inverse .navbar-toggle {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
header .navbar-inverse .navbar-collapse {
  margin-right: -90px;
}
/* Sign-up div */
section#div1 {
  background: url("../images/bk-freeze-ga.jpg");
}
section#div1 .container > .row {
  padding-top: 80px;
  padding-bottom: 50px;
}
section#div1 .container > .row .col-md-6 > .tp-caption {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  font-size: 55px;
  font-weight: 300;
  text-align: left;
}
section#div1 .container > .row .col-md-6 > .tp-caption p {
  font-size: 20px;
  font-weight: 300;
}
/* Features section */
section#features {
  background-color: white;
  margin-top: -90px;
}
/* demo video Section */
section#demo {
  background-color: #ECECEC;
}
section#demo .video-container {
  padding: 20px;
  border: 1px solid black;
  min-height: 464px;
  overflow: hidden;
}
section#demo iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Pricing Section */
section#reviews {
  background: #3c3c3c;
}
/* support section */
section#support {
  padding: 0 0 150px 0;
  background: #E8EBEF;
}
section#support .media {
  margin-bottom: 10px;
}
section#support .media i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 1.9em;
  text-align: center;
}
section#support .media .media-heading {
  padding-top: 15px;
  font-weight: 300;
}
section#support .media .media-heading a {
  font-weight: 400;
}
/* Section Heading */
.section-heading {
  margin: 60px 0 80px;
  text-align: center;
}
.section-heading h1 {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 0;
}
.section-heading p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: #999999;
  font-weight: 300;
}
.section-heading .divider:after {
  content: "";
  position: relative;
  height: 4px;
  width: 60px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  background: #CC6666;
}
.section-heading.inverse h1,
.section-heading.inverse p {
  color: #EFEFEF;
}
.section-heading.inverse .divider:after {
  background: white;
}
/* footer section */
footer {
  padding: 40px 0;
  text-align: center;
  background: #292929;
  color: white;
  font-weight: 100;
}
footer a > img {
  width: 50px;
}
footer .social {
  display: block;
  margin-top: 30px;
}
footer .social a {
  margin: 0 8px;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
footer .social a i {
  width: 1em;
}
footer .rights {
  margin-top: 30px;
}
footer .rights a {
  text-decoration: underline;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-weight: bold;
}
footer .rights a:hover {
  text-decoration: none;
}
/* Other */
section {
  position: relative;
  padding-bottom: 90px;
}
/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
.btn:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section#support .media i {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 2.9em;
  text-align: center;
  border: 2px solid white;
  color: white;
  margin: 0 0 5px;
}
section#support .media:hover i {
  color: #ffffff;
  background: #cc6698;
  border: 2px solid #cc6698;
}
/*/ Global Style for the three sections of the app: left, center, right */
/* ----------- Left Window ----------*/
#left-panel {
  z-index: 0;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0 /* 200 + 6*/;
  overflow: hidden;
}
#left-panel .toggleleft {
  float: right;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0px 5px;
}
#left-panel .toggleleft:focus {
  outline: none;
}
#left-panel .toggleleft i.fa-close {
  font-weight: 100;
}
#left-panel .mainmenu {
  width: 59px;
  height: 100%;
  background-color: #191d24;
  padding-top: 67px;
  padding-left: 23px;
}
#left-panel .mainmenu .options {
  height: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
#left-panel .mainmenu .options.optionActive {
  cursor: pointer;
  border-left: 3px solid teal;
  height: 30px;
  margin-bottom: 20px;
}
#left-panel .mainmenu .options.optionActive img {
  margin-left: 4px;
}
#left-panel .optionsmenu {
  z-index: 0;
  overflow-y: scroll;
}
#left-panel .optionsmenu-open {
  width: 230px;
  height: 100%;
  background-color: #202a36;
  padding: 0px;
}
#left-panel .optionsmenu-close {
  width: 0;
  height: 100%;
  background-color: #202a36;
  padding: 0px;
}
/* ----------- Center Window ----------*/
#middle-panel {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 77%;
}
#middle-panel-resizer {
  background-color: #666;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: e-resize;
}
.middle-panel-smaller {
  left: 19%;
}
.middle-panel-bigger {
  left: 3%;
}
/* ----------- Right Window ----------*/
#right-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  left: 80%;
}
#right-panel-resizer {
  background-color: #666;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  right: 20%;
  cursor: ew-resize;
  z-index: 100;
}
/* ----------- All Windows ----------*/
.base-panel {
  transition: all cubic-bezier(0.55, 0, 0.1, 1) 0.5s;
  animation: bounce 0.01s cubic-bezier(0.55, 0, 0.1, 1);
}
#sidebar-resizer:hover,
#preview-resizer:hover {
  background-color: #AAA;
}
#mid-container #middle-panel .block-style-container {
  background-color: transparent;
  text-align: start;
  box-shadow: none;
  border: 5px dashed black;
  z-index: 1;
}
#mid-container #middle-panel .container-hover {
  background-color: green !important;
}
.draggable {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}
.droppable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  float: left;
  margin: 10px;
}
