/* Space out content a bit */
#container {
  background-color: #202628;
}


.ng-pageslide {
  background-color: #f5f5f5;
  -webkit-box-shadow: -9px 0px 5px -1px rgba(0,0,0,0.28);
  -moz-box-shadow: -9px 0px 5px -1px rgba(0,0,0,0.28);
  box-shadow: -9px 0px 5px -1px rgba(0,0,0,0.28);
  overflow: scroll;
}

.dragging {
  background-color: rgba(245, 245, 245, 0.84);
  -webkit-box-shadow: 0px 0px 0px 9px rgba(63, 194, 89, 0.75);
  -moz-box-shadow: 0px 0px 0px 9px rgba(63, 194, 89, 0.75);
  box-shadow: 0px 0px 0px 9px rgba(63, 194, 89, 0.75);
  width: 300px;
  height: 161px;
  color: black;
  z-index: 1000;
}

img {
  position: relative;
}
.title {
  position: relative;
}

.fuck {
  width: 300px;
  height: 161px;
  position: absolute;
  background-color: transparent !important;
}


/**
  UI.Layout CSS
*************************************/
.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Can be changed by hand ;)*/
  overflow: auto;
}

.layout-mock *:not(.ui-splitbar){
    background : white no-repeat center;
    padding-left: 5px;
}

div.layout-mock.stretch.ui-layout-row > .stretch.ui-layout-column > #canvas {
    background-color: #202628;;
}

div.layout-mock.stretch.ui-layout-row > .stretch.ui-layout-column > .stretch.ui-splitbar {
    background-color: white;

}

div.layout-mock.stretch.ui-layout-row > .stretch.ui-layout-column > .west-back.stretch {
    background-color: #eee;
    padding-left: 15px;
}
div.layout-mock.stretch.ui-layout-row > .stretch.ui-layout-column > .west-back.stretch > .ng-pristine.ng-valid {
    padding-left: 10px;
    margin: 40px 10px 40px 10px;
}

div.layout-mock.stretch.ui-layout-row > .stretch.ui-layout-column > .west-back.stretch > .ng-isolate-scope > .nav-tabs > .heading > li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    flex: 1;
    font-weight: 300;
    font-size: 1.25em;
    height: 6px;

}

div.layout-mock.stretch.ui-layout-row > .stretch.ui-layout-column > .west-back.stretch > .ng-isolate-scope > .nav-tabs > .heading > li > a {
    padding: 0.25em 0 0.5em;
    transition: color 0.2s;
    background-color: white;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    text-decoration: none;
    outline: none;
}

div.layout-mock.stretch.ui-layout-row > .stretch.ui-layout-column > .west-back.stretch > .ng-isolate-scope > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: solid 3px #2CC185;
    cursor: pointer;
    background-color: white;

}

.ui-splitbar{
  display: block;
  background-color: #ffffff;
  right: auto;
  position: absolute;
  z-index: 99999;
}

.ui-layout-row > .ui-splitbar{
  height: 8px; width: 100%;
  cursor: row-resize;
}
.ui-layout-column > .ui-splitbar{
  width: 8px; height: 100%;
  cursor: col-resize;
}



.title {
  padding: 10px;
  cursor: move;
  font-weight: bold;
  font-size: 120%;
}

.connect {
  width: 100%;
  height: 20px;
  cursor: pointer;
  /*background-color: #40B3DF;*/
}

.summary {
  padding: 10px;
  cursor: move;
  font-weight: bold;
  font-size: 120%;
}

.menu-item {
  position: absolute;
  border: 1px solid black;
  width: 150px;
  font-size: 80%;
  background-color:#FFFFFF;
  text-align: center;
  -moz-box-shadow: 2px 2px 3px 1px #AAA;
  -webkit-box-shadow: 2px 2px 3px 1px #AAA;
  box-shadow: 2px 2px 3px 1px #AAA;
}

.item {
  position: absolute;
  border: 1px solid black;
  width: 150px;
  font-size: 80%;
  background-color:#FFFFFF;
  text-align: center;
  -moz-box-shadow: 2px 2px 3px 1px #AAA;
  -webkit-box-shadow: 2px 2px 3px 1px #AAA;
  box-shadow: 2px 2px 3px 1px #AAA;
}

/* the menu is 200px wide */
/*#menu-container {*/
  /*float: left;*/
  /*border: 2px solid gray;*/
  /*border-right: 4px solid gray;*/
  /*width: 200px;*/
  /*height: 497px;*/
  /*background-color: #F3F2F4;*/
/*}*/

.verticalLine {
  float: left;
  border-right: 2px solid gray;
  width: 1px;
  height: 498px;
}

.ep {
  position:absolute;
  bottom: 37%;
  right: 5px;
  width:1em;
  height:1em;
  background-color:orange;
  cursor:pointer;
  box-shadow: 0px 0px 2px black;
  -webkit-transition:-webkit-box-shadow 0.25s ease-in;
  -moz-transition:-moz-box-shadow 0.25s ease-in;
  transition:box-shadow 0.25s ease-in;
}

.ace_editor {
  height: 100%;
}
