/* Space out content a bit */
#canvas {
  background-color: #202628;
}


.ng-pageslide {
  background-color: #f5f5f5;
  -webkit-box-shadow: -9px 0px 5px -1px rgba(0,0,0,0.28);
  -moz-box-shadow: -9px 0px 5px -1px rgba(0,0,0,0.28);
  box-shadow: -9px 0px 5px -1px rgba(0,0,0,0.28);
  overflow: scroll;
}

.dragging {
  background-color: rgba(245, 245, 245, 0.84);
  -webkit-box-shadow: 0px 0px 0px 9px rgba(63, 194, 89, 0.75);
  -moz-box-shadow: 0px 0px 0px 9px rgba(63, 194, 89, 0.75);
  box-shadow: 0px 0px 0px 9px rgba(63, 194, 89, 0.75);
  width: 300px;
  height: 161px;
  color: black;
  z-index: 1000;
}

img {
  position: relative;
}
.title {
  position: relative;
}

.fuck {
  width: 300px;
  height: 161px;
  position: absolute;
  z-index: -1; !important;
}


.layout-mock *:not(.ui-splitbar){
  background : #eee no-repeat center;
}

/**
  UI.Layout CSS
*************************************/
.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Can be changed by hand ;)*/
  overflow: auto;
}

.ui-splitbar{
  display: block;
  background-color: #ffffff;
  right: auto;
  position: absolute;
  z-index: 99999;
}

.ui-layout-row > .ui-splitbar{
  height: 8px; width: 100%;
  cursor: row-resize;
}
.ui-layout-column > .ui-splitbar{
  width: 8px; height: 100%;
  cursor: col-resize;
}
