/**
  Colors
*************************************/
@ambiance: #7A7A93;
@dambiance: #5D5D74;
@lambiance: #E9E6EA;
@clouds: #E0DFDF;
@dashborder: #F6F5F5;
@darktext: rgb(48, 44, 53);
@lighttext: rgb(219, 219, 219);
@evening: #2E2633;
@helio: #99173C;
@orange: rgb(215, 179, 113);
@fieldborder: rgba(122, 122, 147, 0.36);
@darkfield:  rgba(122, 122, 147, 0.64);

/* Center column style */
#container {
  background-color: white;
}

/**
  Right Panel Style
*************************************/
.layout-mock > .stretch.ui-layout-column {

  //   Left column style
  .left-column {
    .ace_editor {
      height: 100%;
    }
  }
  //   Center column style
  .center-column {
    .item {
      position: absolute;
      width: 100px;
      height: 100px;
      font-size: 80%;
      background-color: @lambiance;
      text-align: center;
      display: inline-block;
      -webkit-transition-duration: 0.02s;
      transition-duration: 0.02s;
      -webkit-transition-property: -webkit-transform;
      transition-property: transform;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -moz-box-shadow: 2px 2px 3px 1px #AAA;
      -webkit-box-shadow: 2px 2px 3px 1px #AAA;
      box-shadow: 2px 2px 3px 1px #AAA;
      border: 1px dashed @ambiance;
      img {
        position: relative;
        width: 60px;
        height: 60px;
        margin-bottom: -4px;
      }
      .title {
        position: relative;
        padding: 0px 2px 2px 2px;
        margin-bottom: 0px;
        cursor: move;
        font-weight: 300;
        font-size: 12px;
        color: @dambiance;
      }
      .ep {
        position: absolute;
        bottom: 45%;
        right: -6px;
        border: 2px solid @orange;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: @orange;
        cursor: pointer;
        box-shadow: 0px 0px 2px @clouds;
        -webkit-transition: -webkit-box-shadow 0.25s ease-in;
        -moz-transition: -moz-box-shadow 0.25s ease-in;
        transition: box-shadow 0.25s ease-in;
      }
    }
    .selectedComponent {
      background-color: @ambiance;
      -moz-box-shadow: 2px 2px 3px 1px #AAA;
      -webkit-box-shadow: 2px 2px 3px 1px #AAA;
      box-shadow: 2px 2px 3px 1px #AAA;
      border: 1px dashed @lambiance;
      .title {
        color: @lighttext;
      }
    }
    svg {
      circle {
        fill: @orange;
        stroke: @orange;
        stroke-width: 1px;
      }
      ._jsPlumb_endpoint._jsPlumb_endpoint_anchor_.ui-droppable.ui-draggable.ui-draggable-handle._jsPlumb_endpoint_connected._jsPlumb_endpoint_full {
        circle {
          fill: @orange;
          stroke: @orange;
          stroke-width: 1px;
        }
      }
      path {
        stroke: @orange;
        stroke-width: 2px;
      }
    }
  }

  //  Right column Style
  .right-column {
    background-color: rgba(112, 100, 130, 0.78);
    width: 300px;
    .right-column-top {
      background-color: @dashborder;
      padding: 5px 10px 5px 10px;
    }
    .right-column-bottom {
      width: 300px;
      //      Search Input Style
      #searchbox {
        margin: 6px 0px 0px 0px;
        display: inline-flex;
        width: 300px;
        border: 2px solid @ambiance;
        .search {
          padding: 8px 15px;
          background-color: @dashborder;
          box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
          border: 0px;
          color: rgba(112, 100, 130, 0.78);;
          font-weight: 500;
          font-style: italic;
          outline: none;
          width: 100%;
          margin-left: 6px;
        }
        .button {
          position: relative;
          padding: 8px 15px;
          border: 0px solid #dbdbdb;
          left: -45px;
          color: #cbe2cb;
          text-decoration: none;
          background-color: transparent;
          .glyphicon {
            display: inline-block;
            cursor: pointer;
            color: rgba(112, 100, 130, 0.78);;
          }
          .glyphicon:hover {
            color: rgba(112, 100, 130, 0.78);;
          }
        }
      }

      //      Nav Pills for Components
      ul.nav-tabs.nav-justified {
        .components-tab {
          padding-left: 8px;
        }
        .tasks-tab {
          padding-right: 4px;
        }
        li > a {
          text-decoration: none;
          cursor: pointer;
          background-color: @ambiance;
          color: @lambiance;
          font-weight: 600;
          border: none;
          border-bottom: 1px solid rgb(206, 199, 208);
          border-radius: 0;
          &:hover {
            color: #26232A;
          }
        }
        .active > a {
          background-color: @ambiance;
          border-bottom: none;
          border-top: 4px solid rgb(206, 199, 208);
          border-left: 1px solid rgb(206, 199, 208);
          border-right: 1px solid rgb(206, 199, 208);
          color: @clouds;
          &:hover {
            color: @clouds;
          }
        }
      }

      //       Components Style
      .tab-content {
        background-color: @ambiance;
        border-bottom-color: rgba(112, 100, 130, 0.78);
        .tab-pane {
          .empty-container {
            width: 285px;
            height: 80px;
            position: absolute;
            padding: 0 0px 0 0px;
            display: block;
            color: @clouds;
            cursor: pointer;
            font-weight: 700;
          }
          padding: 10px 15px 10px 15px;
          .component-item {
            display: table-cell;
            vertical-align: middle;
            color: @clouds;
            font-weight: 700;
            border-bottom: 1px dashed @dashborder;
            width: 300px;
            height: 80px;
            &:hover {
              cursor: pointer;
              background-color: white;
            }
            .pdiv {
              float: left;
              width: 200px;
              vertical-align: middle;
              p {
                font-weight: 300;
                font-size: 12px;
                vertical-align: middle;
              }
            }
            .imgdiv {
              float: left;
              width: 70px;
              img.component-image {
                width: 60px;
                height: 60px;
              }
            }
          }
          .task-item {
            padding: 10px 15px 10px 15px;
            display: table-cell;
            vertical-align: middle;
            color: @clouds;
            cursor: pointer;
            font-weight: 700;
            border-bottom: 1px dashed @dashborder;
            width: 300px;
            height: 80px;
            p {
              font-weight: 300;
              font-size: 12px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

}

/**
  Resizable bar between each column & row
*************************************/
.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Can be changed by hand ;)*/
  overflow: auto;
  background-color: @ambiance;
}

//style for all splitbars
.ui-splitbar {
  display: block;
  background-color: #E8E8E8;
  right: auto;
  position: absolute;
  z-index: 99999;
}

//horizontal splitbar style
.ui-layout-row > .ui-splitbar {
  height: 6px !important;
  width: 100%;
  cursor: row-resize;
}

//vertical splitbar style
.ui-layout-column > .ui-splitbar {
  width: 6px !important;
  height: 100%;
  cursor: col-resize;
}

/**
 This is the visual of the component card while its being dragged
*************************************/

.dragging {
  background-color: @lambiance;
  border-bottom-color: rgba(112, 100, 130, 0.78);
  .component-item {
    display: table-cell;
    vertical-align: middle;
    color: @dambiance;
    cursor: pointer;
    font-weight: 700;
    border: 1px dashed @dambiance;
    width: 300px;
    height: 80px;
    .pdiv {
      float: left;
      width: 200px;
      vertical-align: middle;
      p {
        font-weight: 300;
        font-size: 12px;
        vertical-align: middle;
      }
    }
    .imgdiv {
      float: left;
      width: 70px;
      img.component-image {
        width: 60px;
        height: 60px;
      }
    }
  }
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: @ambiance;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pre {
    border-radius: 0px;
    margin-bottom: 1px;
  }
  .search {
    padding: 8px 15px;
    background-color: @dashborder;
    border: 0px;
    color: rgba(112, 100, 130, 0.78);;
    font-weight: 500;
    font-style: italic;
    outline: none;
    margin-bottom: 1px;
    width: 100%;
  }
  //      Nav Pills for Components
  ul.nav-tabs.nav-justified {
    li > a {
      text-decoration: none;
      cursor: pointer;
      background-color: #E9E6EA;
      color: rgba(112, 100, 130, 1);
      font-weight: 600;
      border: none;
      border-bottom: 2px solid #E9E6EA;
      border-radius: 0;
      &:hover {
        color: #26232A;
      }
    }
    .active > a {
      background-color: @ambiance;
      border: none;
      border-bottom: 2px solid rgb(206, 199, 208);
      color: @clouds;
      &:hover {
        color: @clouds;
      }
    }
  }

  //       Components Style
  .tab-content {
    background-color: @ambiance;
    border-bottom-color: rgba(112, 100, 130, 0.78);
    .tab-pane {
      .empty-container {
        width: 285px;
        height: 80px;
        position: absolute;
        padding: 0 0px 0 0px;
        display: block;
        color: @clouds;
        cursor: pointer;
        font-weight: 700;
      }
      padding: 10px 15px 10px 15px;
      .component-item {
        display: table-cell;
        vertical-align: middle;
        color: @clouds;
        cursor: pointer;
        font-weight: 700;
        border-bottom: 1px dashed @dashborder;
        width: 300px;
        height: 80px;
        .pdiv {
          float: left;
          width: 200px;
          vertical-align: middle;
          p {
            font-weight: 300;
            font-size: 12px;
            vertical-align: middle;
          }
        }
        .imgdiv {
          float: left;
          width: 70px;
          img.component-image {
            width: 60px;
            height: 60px;
          }
        }
      }
      .task-item {
        padding: 10px 15px 10px 15px;
        display: table-cell;
        vertical-align: middle;
        color: @clouds;
        cursor: pointer;
        font-weight: 700;
        border-bottom: 1px dashed @dashborder;
        width: 300px;
        height: 80px;
        p {
          font-weight: 300;
          font-size: 12px;
          vertical-align: middle;
        }
      }
    }
  }
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: @lighttext;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: @darktext;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}



.propertyinput {
  border: 2px solid @fieldborder;
  padding: 4px;
  background: rgba(255,255,255,0.5);
  margin: 2px 5px 10px 10px;
  outline: none;
  &:focus {
    border: 2px solid @darkfield;
  }
}
