.modal-backdrop.fade.in {
   opacity: 0.9;
 }

.modal-dialog {
  margin-top: 200px;
}
.modal-header {
  font-size: 24px;
  line-height: 69px;
  color: white;
  background: @light-teal;
  border: solid 1px @light-teal;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  z-index: 999;
  padding: 12px;
  text-align: center;

  h2, h4 {
    color: white;
  }
}

.modal-body {
  margin-top: 20px;
  p {
    font-size: 16px;
  }
  strong {
    font-weight: bold;
    color: #9FA3A2;
    font-size: 16px;
  }
  .row2 {
    margin-top: 20px;
  }
}

.modal-footer {
  button {
    border: 1px solid #17bcb8;
    color: #17bcb8;
    background: transparent;
    margin-right: 10px;
    transition: background .5s ease-out; // global
    -webkit-transition-property: all;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: all;
    -moz-transition-duration: 300ms;
    -moz-transition-timing-function: ease;
    -o-transition-property: all;
    -o-transition-duration: 300ms;
    -o-transition-timing-function: ease;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    &:hover{
      background: #17bcb8;
      color: #fff;
    }
    &:focus {
      outline: none;
      /* transition the background-color over 1s with a linear animation */
      background-color: #202a36;
      transition: background .5s ease-in; // global
    }
  }
}
