.modal-backdrop.fade.in {
   opacity: 0.9;
 }

.modal-dialog {
  margin-top: 100px;
}
.modal-header {
  font-size: 24px;
  line-height: 69px;
  color: white;
  background: @light-teal;
  border: solid 1px @light-teal;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  z-index: 999;
  padding: 12px;
  text-align: center;

  h2, h4 {
    color: white;
  }
}

.modal-body {
  margin-top: 20px;
  p {
    font-size: 14px;
  }
  strong {
    font-weight: bold;
    color: #1C9A9A;
    font-size: 14px;
  }
  .row2 {
    margin-top: 20px;
  }

  .nav-tabs {
    li {
      color: #1C9A9A;
      cursor: pointer;
      a {
        color: #1C9A9A;
        &:hover {
          color: #1C9A9A;
          cursor: pointer;
        }
      }
    }
    li.active {
      cursor: auto;
      a {
        color: #555;
        &:hover {
          color: #555;
          cursor: auto;
        }
      }
    }
  }
  .tab-content {
    margin-top: 25px;
    h4 {
      color: rgb(128, 128, 128);
      font-weight: bold;
      font-size: 16px;
    }

//    search button
    .search {
      margin-top: 20px;
      margin-bottom: 20px;
      &:focus{
        outline: none;
      }
    }

    .table-striped {
      text-align: center;
      margin-bottom: 40px;
      .heading {
        background-color: #D2DBDD;
      }
      th {
        text-align: center;
      }
      .rowheading {
        color: rgb(128, 128, 128);
        width: 20%;
        text-align: left;
        font-weight: bold;
      }
      .current {
        width: 40%;
      }
      .suggested {
        width: 40%;
      }
    }
  }
}

.modal-footer {
  button {
    border: 1px solid #17bcb8;
    color: #17bcb8;
    background: transparent;
    margin-right: 10px;
    transition: background .5s ease-out; // global
    -webkit-transition-property: all;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: all;
    -moz-transition-duration: 300ms;
    -moz-transition-timing-function: ease;
    -o-transition-property: all;
    -o-transition-duration: 300ms;
    -o-transition-timing-function: ease;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    &:hover{
      background: #17bcb8;
      color: #fff;
    }
    &:focus {
      outline: none;
      /* transition the background-color over 1s with a linear animation */
      background-color: #202a36;
      transition: background .5s ease-in; // global
    }
    &:active:focus{
      outline: none;
    }
  }
}
