#sidebar {
  background-color: #EEE;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: 85%;
}

#sidebar-resizer {
  background-color: #666;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 85%;
  width: 6px;
  cursor: e-resize;
}

#left-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0 /* 200 + 6*/;
  right: 0;
  overflow: hidden;
  color: #FFF;

}
#left-top-panel {
  position: absolute;
  top: 0;
  bottom: 26px; /* 130 + 6 */
  left: 0;
  right: 0;
  background-color: #444;
  overflow: auto;
}
#left-bottom-panel {
  position: absolute;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #777;
}

#left-top-bottom-resizer {
  position: absolute;
  height: 6px;
  bottom: 20px;
  left: 0;
  right: 0;
  background-color: #666;
  cursor: n-resize;
}

#sidebar-resizer:hover, #preview-resizer:hover {
  background-color: #AAA;
}
