@bottom-top-open: 95%;
@bottom-top-close: 5%;
@middle-panel-smaller : 85%;
@middle-panel-bigger : 97%;

#middle-panel {
  background-color: blue;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.middle-panel-smaller {
  width: @middle-panel-smaller;
}

.middle-panel-bigger {
  width: @middle-panel-bigger;
}

#right-panel {
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  left: 70%;
}

#right-panel-resizer {
  background-color: #666;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  right: 30%;
  cursor: w-resize;
}

#middle-panel-resizer {
  background-color: #666;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: e-resize;
}

.middle-panel-resize-smaller {
  right: @middle-panel-smaller;
}

.middle-panel-resize-bigger {
  right: @middle-panel-bigger;
}

#left-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0 /* 200 + 6*/;
  right: 0;
  width: 100%;
  overflow: hidden;
  color: #FFF;

}

#left-top-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #444;
  overflow: auto;
}

.left-top-panel-open {
  bottom: @bottom-top-open !important;
}

.left-top-panel-close {
  bottom: @bottom-top-close !important;
}

#left-bottom-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #777;
}

.left-bottom-panel-open {
  height: @bottom-top-open !important;
}

.left-bottom-panel-close {
  height: @bottom-top-close !important;
}

#left-top-bottom-resizer {
  position: absolute;
  height: 0px;
  left: 0;
  right: 0;
  background-color: #666;
  cursor: n-resize;
}

.left-top-bottom-resizer-open {

  bottom: @bottom-top-open !important;
}

.left-top-bottom-resizer-close {
  bottom: @bottom-top-close !important;
}

#sidebar-resizer:hover, #preview-resizer:hover {
  background-color: #AAA;
}
