#middle-panel {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 77%;
}

//Make sure that the difference between these two is exactly 12
//Open
.middle-panel-smaller {
  left: 19%
}

//close
.middle-panel-bigger {
  left: 3%
}



#right-panel {
//  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  left: 80%;
}

#right-panel-resizer {
  background-color: #666;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  right: 20%;
  cursor: ew-resize;
  z-index: 100;
}

#middle-panel-resizer {
  background-color: #666;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: e-resize;
}

.base-panel {
//  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(.55,0,.1,1) 0.5s;
  animation: bounce 0.01s cubic-bezier(.55,0,.1,1) ;
}

#sidebar-resizer:hover, #preview-resizer:hover {
  background-color: #AAA;
}


