<div ui-layout class="layout-mock" ng-init="init()">
  <ui-layout options="{ flow : 'column' }">


    <!----------------------------------------------------------->
    <!--                  Resource Properties                  -->
    <!----------------------------------------------------------->
    <div
      ui-layout="{flow: 'row'}"
      size="300px"
      class="left-column">
      <div class="left-column-top" size="410px">
        <form id="searchbox">
          <p class="fieldset">
            <label class="glyphicon glyphicon-search"></label>
          </p>
          <input ng-model="searchText" type="text" placeholder="Search..." required class="search">
        </form>
        <tabset justified="true">

          <tab heading="Components" class="components-tab">
            <div ng-repeat="comp in components | filter:searchText">
              <div
                class="empty-container"
                ng-drag="true"
                ng-drag-success="onDragComplete($data,$event)"
                ng-drag-data="comp"
                ng-center-anchor="false">
              </div>
              <div class="component-item">
                <div class="imgdiv">
                  <img class="component-image" ng-src="{{comp.image}}"/>
                </div>
                <div class="pdiv">
                  <p>
                    {{comp.name}} : {{comp.description}}</p>
                </div>
              </div>
            </div>
          </tab>

          <tab heading="Solutions" class="tasks-tab">
            <div ng-click="taskSelected(task)" ng-repeat="task in tasks | filter:searchText">
              <div class="task-item">

                <a href="">
                  {{task.name}}
                </a>

              </div>
            </div>
          </tab>
        </tabset>
      </div>

      <!----------------------------------------------------------->
      <!--                  Component Library                    -->
      <!----------------------------------------------------------->
      <div class="left-column-bottom">
        <div ng-if="selectedComponent !== undefined">
          <properties
            component="selectedComponent"
            template="template"
            on-property-drag="propertyDidDrag(data, event)"
            ></properties>
        </div>
      </div>
    </div>
    <!----------------------------------------------------------->
    <!--                     Canvas                            -->
    <!----------------------------------------------------------->
    <div ng-drop="true"
         ng-drop-success="onDropComplete($data,$event)"
         id="container"
         plumb-listeners
         on-connection-established="connectionEstablished(sourceName, targetName)"
         on-connection-detached="connectionDetached(sourceName, targetName)"
         on-connection-moved-from-source="connectionMovedFromSource(originalSourceName, newSourceName, targetName)"
         on-connection-moved-from-target="connectionMovedFromTarget(sourceName, originalTargetName, newTargetName)"
         class="center-column">
      <div class="canvasbtns">
        <button class="btn btn-warning" ng-click="cancel()"><span
          class="glyphicon glyphicon-floppy-save"></span>
        </button>
        <button class="btn btn-primary" ng-click="download()"><span
          class="glyphicon glyphicon-cloud-download"></span>
        </button>
      </div>
      <!-- The actual components on the canvas -->
      <div plumb-item
           ng-click="clickCallback(component)"
           class="item"
           ng-class="{selectedComponent : component.id === selectedComponent.id}"
           ng-repeat="component in addedComponents"
           ng-style="{ 'left':component.x, 'top':component.y }"
           data-identifier="{{component.id}}"
           data-component-name={{component.name}}
        >
        <p align="left">
          <button ng-click="deleteClicked(component)" type="button">X</button>
        </p>
        <img ng-src="{{component.image}}"/>

        <p class="title">
          {{component.name}}</p>


        <div plumb-connect
             data-parent-name="{{component.parent}}"
             class="ep"
          ></div>
      </div>
    </div>



    <!----------------------------------------------------------->
    <!--                     Code Editor                       -->
    <!----------------------------------------------------------->
    <div class="right-column" id="right-column" size="300px">
      <div ui-ace="{theme:'ambiance', mode: 'json', onChange: templateStringChanged}"
           ng-model="templateString">
      </div>
    </div>
  </ui-layout>
</div>


<!--This is the visual of the component card while its being dragged-->
<div
  ng-drag-clone="" class="dragging">
  <div class="component-item">
    <div class="imgdiv">
      <img class="component-image" ng-src="{{clonedData.image}}"/>
    </div>
    <div class="pdiv">
      <p>
        {{clonedData.name}} : {{clonedData.description}}</p>
    </div>
  </div>
</div>
