<section id="hero" class="hero-section fluid">
  <div data-parallax-type="background" class="image"
       style="height: 720px; background-image: url(images/landing/header-bg.jpg); background-position: 50% 0px;">

    <div class="container">
      <div class="section">
        <div class="valueprop" style="top: 124px;">
          <header>
            <div class="title">
              <h1>
                <span class="line">Get the most value</span>
                <span class="line">out of your</span>
                <span class="line">Infrastructure</span>
              </h1>
            </div>
            <div data-parallax-type="foreground" class="action"
                 style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
              <p>

                <a href="#sign-up" id="video-play" class="button filled">Sign Up</a>
                <a href="#demo" class="button">View Demo</a>
              </p>
            </div>
            <br class="clearboth">
          </header>
        </div>
      </div>
    </div>

  </div>
</section>
<section data-parallax-type="fixed" data-parallax-offset="600" id="benefits" class="benefit-section fluid unit"
         style="background-position: 50% 600px;">

  <div class="container">
    <header>
      <div class="title">
        <h2>Analyze, Manage, and Optimize your infrastructure costs
          .</h2>
      </div>
    </header>
  </div>
  <div class="benefit">

    <div class="container">
      <div class="benefit-content" data-parallaxify-range-x="20"
           style="-webkit-transform: translate3d(-8px, 0px, 0px);">
        <header>
          <div class="title">
            <h2>Analyze</h2>
          </div>
        </header>
        <article>
          <p>
            View your cost breakdown between components. Experiment with
            configs and see the effects immediately.
          </p>
        </article>
      </div>
      <div class="benefit-image" data-parallaxify-range-x="50"
           style="-webkit-transform: translate3d(-20px, 0px, 0px);">
        <div class="image-shadow">
          <img width="552" height="342"
               src="images/landing/landscape4.png"
               class="screenshot" alt="screenshot_1"></div>
      </div>
      <br class="clearboth">
    </div>
  </div>
  <div class="benefit">

    <div class="container">
      <div class="benefit-content" data-parallaxify-range-x="20"
           style="-webkit-transform: translate3d(-8px, 0px, 0px);">
        <header>
          <div class="title">
            <h2>Optimize</h2>
          </div>
        </header>
        <article>
          <p>pdestal analyzes your usage patterns and suggests the best configs to optimize performance and cost. </p>
        </article>
      </div>
      <div class="benefit-image" data-parallaxify-range-x="50"
           style="-webkit-transform: translate3d(-20px, 0px, 0px);">
        <div class="image-shadow">
          <img width="552" height="342"
               src="images/landing/optimizebg.png"
               class="screenshot" alt="screenshot_2"></div>
      </div>
      <br class="clearboth">
    </div>
  </div>
  <div class="benefit">

    <div class="container">
      <div class="benefit-content" data-parallaxify-range-x="20"
           style="-webkit-transform: translate3d(-8px, 0px, 0px);">
        <header>
          <div class="title">
            <h2>Simulate</h2>
          </div>
        </header>
        <article>
          <p>Simulate and evaluate different configuration scenarios based on your unique needs.</p>
        </article>
      </div>
      <div class="benefit-image" data-parallaxify-range-x="50"
           style="-webkit-transform: translate3d(-20px, 0px, 0px);">
        <div class="image-shadow">
          <img width="552" height="342"
               src="images/landing/instances.png"
               class="screenshot" alt="screenshot_3"></div>
      </div>
      <br class="clearboth">
    </div>
  </div>
</section>
<section id="demo" class="demo-section fluid unit">
  <div class="container">
    <header>
      <div class="title">
        <h2>Demo</h2>
      </div>
    </header>
    <footer>
      <div class="video-container">
        <iframe id="pPlayer"
                src="http://player.vimeo.com/video/111607336?title=0&amp;badge=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=pPlayer"
                frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

      </div>
      s
    </footer>
  </div>
</section>
<section id="sign-up" class="sign-up-section fluid">
  <div class="sign-up">
    <div class="container">
      <article>
        <p id="notification">Enter your email to be notified of release updates and
          join our early adopter list.</p>
      </article>
      <footer>
        <div class="form">
          <form id="sign-up-form" class="email-form" method="post">
            <div class="option-group">
              <div class="input">
                <input id="email" name="email" placeholder="Email Address" type="text">
              </div>
              <div class="buttons">
                <input class="button" type="submit" value="Notify me">
              </div>
            </div>
          </form>
        </div>
      </footer>
    </div>
  </div>
</section>
<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>©2014 Pdestal Inc.<a href=""></a></h6>
      </div>
      <div class="col-md-6">
        <h6>Team@pdestal.com</h6>
      </div>
    </div>
  </div>
</section>
