<header>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#features">features</a>
          </li>
          <li><a href="#reviews">pricing</a>
          </li>
          <li><a href="#demo">demo</a>
          </li>
          <li><a href="#support">support</a>
          </li>
          <li><a class="getApp" href="#getApp">Sign-up</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
  </nav>
</header>


<div class="wrapper">
  <section id="div1">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6">
          <div class="tp-caption mediumlarge_light_white sfl">
            Pdestal
          </div>
          <div class="tp-caption small_light_white sfb">
            <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque diam sed pulvinar
              lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
          </div>

          <div class="tp-caption lfl">
            <a href="#" class="btn btn-primary btn-lg">Purchase</a>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </section>
  <section id="features">
    <div class="container">

      <div class="section-heading sp-effect3">
        <h1>Features</h1>

        <div class="divider"></div>
        <p>Everything you need to get up and running</p>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="about-item sp-effect2">
            <i class="fa fa-download fa-2x"></i>

            <h3>Easy setup</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="about-item sp-effect5">
            <i class="fa fa-mobile fa-2x"></i>

            <h3>Visual</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="about-item sp-effect5">
            <i class="fa fa-users fa-2x"></i>

            <h3>Full AWS Support</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="about-item sp-effect1">
            <i class="fa fa-sliders fa-2x"></i>

            <h3>Dedicated support</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--<section id="reviews">-->
  <!--<div class="container">-->
  <!--<div class="section-heading inverse sp-effect3">-->
  <!--<h1>Pricing</h1>-->

  <!--<div class="divider"></div>-->
  <!--<p>Pick whatever price fits for your company</p>-->
  <!--</div>-->
  <!--<div class="row text-center">-->
  <!--<div class="col-md-6">-->
  <!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">-->
  <!--<h4 class="text-center">-->
  <!--MONTHLY PLAN</h4>-->
  <!--</div>-->
  <!--<div class="panel-body text-center">-->
  <!--<p class="lead">-->
  <!--<strong>$25 / month</strong></p>-->
  <!--</div>-->
  <!--<ul class="list-group list-group-flush text-center">-->
  <!--<li class="list-group-item"><i class="icon-ok text-danger"></i>Monthly subscription</li>-->
  <!--<li class="list-group-item"><i class="icon-ok text-danger"></i>1 License per person</li>-->
  <!--<li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited projects</li>-->
  <!--</ul>-->
  <!--<div class="panel-footer">-->
  <!--<a class="btn btn-lg btn-block btn-green" href="http://www.jquery2dotnet.com"-->
  <!--src="https://checkout.stripe.com/checkout.js"-->
  <!--data-key="pk_test_e6K4p4YOtixAsr79rjuBaJ8D"-->
  <!--data-image="/square-image.png"-->
  <!--data-name="Demo Site"-->
  <!--data-description="2 widgets ($20.00)"-->
  <!--data-amount="2000">BUY NOW!</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6">-->
  <!--<div class="panel panel-info">-->
  <!--<div class="panel-heading">-->
  <!--<h4 class="text-center">-->
  <!--PRE-PAID SUBSCRIPTION</h4>-->
  <!--</div>-->
  <!--<div class="panel-body text-center">-->
  <!--<p class="lead">-->
  <!--<strong>$180 / year</strong></p>-->
  <!--</div>-->
  <!--<ul class="list-group list-group-flush text-center">-->
  <!--<li class="list-group-item"><i class="icon-ok text-danger"></i>Locked-in rate of $15/month (regularly $25)-->
  <!--</li>-->
  <!--<li class="list-group-item"><i class="icon-ok text-danger"></i>1 License per person</li>-->
  <!--<li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited projects</li>-->
  <!--</ul>-->
  <!--<div class="panel-footer">-->
  <!--<a class="btn btn-lg btn-block btn-info" href="http://www.jquery2dotnet.com">BUY NOW!</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</section>-->
  <section id="demo">
    <div class="container">
      <div class="section-heading sp-effect3">
        <h1>Demo</h1>

        <div class="divider"></div>
        <p>Take a closer look in more detail</p>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 sp-effect2">
          <div class="video-container">
            <iframe src="http://player.vimeo.com/video/111607336"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--<section id="support" class="doublediagonal">-->
  <!--<div class="container">-->
  <!--<div class="section-heading sp-effect3">-->
  <!--<h1>Support</h1>-->

  <!--<div class="divider"></div>-->
  <!--<p>For more info and support, contact us!</p>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<div class="row">-->
  <!--<div class="col-md-8 col-sm-8 sp-effect1">-->
  <!--<form role="form">-->
  <!--<div class="form-group">-->
  <!--<input type="text" class="form-control" placeholder="Your name">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<input type="email" class="form-control" placeholder="Your email">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<textarea cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-primary inverse btn-lg">Submit</button>-->
  <!--</form>-->
  <!--</div>-->
  <!--<div class="col-md-4 col-sm-4 contact-details sp-effect2">-->
  <!--<div class="media">-->
  <!--<a class="pull-left" href="#">-->
  <!--<i class="glyphicon glyphicon-envelope"></i>-->
  <!--</a>-->

  <!--<div class="media-body">-->
  <!--<h4 class="media-heading">-->
  <!--<a href="mailto:team@pdestal.com">Team@pdestal.com</a>-->
  <!--</h4>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="media">-->
  <!--<a class="pull-left" href="#">-->
  <!--<i class="glyphicon glyphicon-earphone"></i>-->
  <!--</a>-->

  <!--<div class="media-body">-->
  <!--<h4 class="media-heading">(412) 301-5185</h4>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</section>-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../images/favicon.ico" alt="" class="logo"> <hidden-xs>Pdestal, Inc.</hidden-xs>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <p>Team@pdestal.com </p>
          <p>(412) 301-5185 </p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <p> Copyright &copy; 2014</p>
        </div>
      </div>
    </div>
  </footer>

</div>


