<section id="hero" class="hero-section fluid">
  <div data-parallax-type="background" class="image"
       style="height: 720px; background-image: url(images/landing/header-bg.jpg); background-position: 50% 0px;">

    <div class="container">
      <div class="section">
        <div class="valueprop" style="top: 124px;">
          <header>
            <div class="title">
              <h1>
                <span class="line">Get the most value</span>
                <span class="line">out of your</span>
                <span class="line">Cloud</span>
              </h1>
            </div>
            <div data-parallax-type="foreground" class="action"
                 style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
              <p>

                <a href="#sign-up" id="video-play" class="button filled" scroll-to="sign-up" analytics-on="click"
                   analytics-event="WantsToSignup">Sign Up</a>
                <a href="#demo" class="button" scroll-to="demo" analytics-on="click" analytics-event="WantsToViewDemo">View
                  Demo</a>
              </p>
            </div>
            <br class="clearboth">
          </header>
        </div>
      </div>
    </div>

  </div>
</section>
<section data-parallax-type="fixed" data-parallax-offset="600" id="benefits" class="benefit-section fluid unit"
         style="background-position: 50% 600px;">

  <div class="container">
    <header>
      <div class="title">
        <h2>Analyze, Manage, and Optimize your infrastructure costs.</h2>
      </div>
    </header>
  </div>
  <div class="benefit">

    <div class="container">
      <div class="benefit-content" data-parallaxify-range-x="20"
           style="-webkit-transform: translate3d(-8px, 0px, 0px);">
        <header>
          <div class="title">
            <h2>Undersand what you're paying for</h2>
          </div>
        </header>
        <article>
          <p>
            View cost breakdown among your resources. Experiment with
            configurations and see the results in realtime.
          </p>
        </article>
      </div>
      <div class="benefit-image" data-parallaxify-range-x="50"
           style="-webkit-transform: translate3d(-20px, 0px, 0px);">
        <div class="image-shadow">
          <img width="552" height="342"
               src="images/landing/landscape6.png"
               class="screenshot" alt="screenshot_1"></div>
      </div>
      <br class="clearboth">
    </div>
  </div>
  <div class="benefit">

    <div class="container">
      <div class="benefit-content" data-parallaxify-range-x="20"
           style="-webkit-transform: translate3d(-8px, 0px, 0px);">
        <header>
          <div class="title">
            <h2>Optimize your resources</h2>
          </div>
        </header>
        <article>
          <p>pdestal analyzes your usage patterns and recommends configs that optimize performance and cost. </p>
        </article>
      </div>
      <div class="benefit-image" data-parallaxify-range-x="50"
           style="-webkit-transform: translate3d(-20px, 0px, 0px);">
        <div class="image-shadow">
          <img width="552" height="342"
               src="images/landing/optimizebg.png"
               class="screenshot" alt="screenshot_2"></div>
      </div>
      <br class="clearboth">
    </div>
  </div>
  <div class="benefit">

    <div class="container">
      <div class="benefit-content" data-parallaxify-range-x="20"
           style="-webkit-transform: translate3d(-8px, 0px, 0px);">
        <header>
          <div class="title">
            <h2>Predict your costs in advance</h2>
          </div>
        </header>
        <article>
          <p>Simulate different configuration scenarios to discover the most performant instances for the lowest
            price.</p>
        </article>
      </div>
      <div class="benefit-image" data-parallaxify-range-x="50"
           style="-webkit-transform: translate3d(-20px, 0px, 0px);">
        <div class="image-shadow">
          <img width="552" height="342"
               src="images/landing/instances.png"
               class="screenshot" alt="screenshot_3"></div>
      </div>
      <br class="clearboth">
    </div>
  </div>
</section>
<section id="demo" class="demo-section fluid unit">
  <div class="container">
    <header>
      <div class="title">
        <h2>Demo</h2>
      </div>
    </header>
    <footer>
      <div class="video-container">
        <iframe id="pPlayer"
                src="http://player.vimeo.com/video/114093400?title=0&amp;badge=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=pPlayer"
                frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
    </footer>
  </div>
</section>
<section id="sign-up" class="sign-up-section fluid">
  <div class="sign-up">
    <div class="container">
      <header>
        <div class="title">
          <h2>Get in Touch</h2>
        </div>
      </header>
      <article>
        <p id="notification">
          Sign up for a trial account & join our early adopter list.
        </p>
      </article>
      <footer>
        <div class="form">
          <form id="sign-up-form" class="email-form" method="post">
            <div class="option-group">
              <div class="input" ng-if="!hasSignedUp">
                <input id="email" name="email" ng-model="info.email" placeholder="Email Address" type="text">
              </div>
              <div class="buttons">
                <input class="button" type="submit" value="{{signupText}}"
                       ng-class="{'sign-up-did-Signup' : hasSignedUp}" ng-click="signUpPressed()">
              </div>
            </div>
          </form>
        </div>
      </footer>
    </div>
  </div>
</section>
<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>©2014 pdestal Inc.<a href=""></a></h6>
      </div>
      <div class="col-md-6">
        <h6>team@pdestal.com</h6>
      </div>
    </div>
  </div>
</section>
