<div ui-layout class="layout-mock" ng-init="init()">
  <ui-layout options="{ flow : 'column' }">

    <!--Json editor on the left-->
    <div class="left-column" size="300px">
      <div ui-ace="{
        theme:'ambiance',
        mode: 'json',
        onChange: templateStringChanged}"
           ng-model="templateString">
      </div>
    </div>

    <!--Canvas in the middle -->
    <div ng-drop="true"
         ng-drop-success="onDropComplete($data,$event)"
         id="container"
         plumb-listeners
         on-connection-established="connectionEstablished(sourceName, targetName)"
         on-connection-detached="connectionDetached(sourceName, targetName)"
         on-connection-moved-from-source="connectionMovedFromSource(originalSourceName, newSourceName, targetName)"
         on-connection-moved-from-target="connectionMovedFromTarget(sourceName, originalTargetName, newTargetName)"
         class="center-column">


      <!-- The actual components on the canvas -->
      <div plumb-item
           ng-click="clickCallback(component)"
           class="item"
           ng-class="{selectedComponent : component.id === selectedComponent.id}"
           ng-repeat="component in addedComponents"
           ng-style="{ 'left':component.x, 'top':component.y }"
           data-identifier="{{component.id}}"
           data-component-name={{component.name}}
        >

        <img width="100" ng-src="{{component.image}}"/>

        <p class="title">{{component.name}}</p>

        <div plumb-connect class="ep"></div>
      </div>

    </div>
    <!--Right side panel-->
    <div
      ui-layout="{flow: 'row'}"
      size="300px"
      class="right-column">

      <div class="right-column-top">
        <div ng-show="selectedComponent">
          <div class="cd-fixed-bg">
            <h4 id="titleh4">{{selectedComponent.name}} </h4>
            <h5 id="titleh5">Type: {{selectedComponent.type}}</h5>
          </div>
          <h5 class="contenth5">Required Parameters</h5>

          <div ng-repeat="prop in selectedComponent.required" class="content">

            <div ng-if="prop.type === 'String'">
              <span tooltip="{{prop.description}}" class="tablename">
                {{prop.name}}
              </span>
              <input type="text"
                     name=""
                     ng-model="template.Resources[selectedComponent.name].Properties[prop.name]"
                     class="propertyinput">
              <br>
            </div>

            <accordion ng-if="types.complex[prop.type] && types.complex[prop.type].Display.type === 'table'"
                       close-others="true"
                       class="propertiesaccordion">
              <accordion-group is-open="status.open">
                <accordion-heading>
                  <div>
                        <span tooltip="{{types.complex[prop.type].Description}}">
                          {{prop.name}}
                        </span>
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
                    </i>
                  </div>
                </accordion-heading>
                <div class="table-responsive" id="no-more-tables1">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th ng-repeat="tableHeading in types.complex[prop.type].types.required"
                          tooltip="{{tableHeading.description}}">{{tableHeading.name}}
                      </th>
                      <th>Edit</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="tableProp in template.Resources[selectedComponent.name].Properties[prop.name]">
                      <td ng-repeat="tableHeading in types.complex[prop.type].types.required"
                          data-title={{tableHeading.name}}>
                    <span
                      editable-text="template.Resources[selectedComponent.name].Properties[prop.name][tableHeading.name]"
                      e-name="tableHeading.name" e-form="rowform" e-required>
                      {{tableProp[tableHeading.name]}}
                    </span>
                      </td>
                      <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form
                              name="rowform"
                              onbeforesave="saveUser($data, user.id)"
                              ng-show="rowform.$visible"
                              class="form-buttons form-inline"
                              shown="inserted == user">
                          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                          </button>
                          <button
                            type="button"
                            ng-disabled="rowform.$waiting"
                            ng-click="rowform.$cancel()"
                            class="btn btn-default">
                            cancel
                          </button>
                        </form>

                        <div class="buttons" ng-show="!rowform.$visible">
                          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                          <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <button class="btn btn-default new"
                        ng-click="AddToTable(template.Resources[selectedComponent.name].Properties, prop.name, types.complex[prop.type].types.required)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>

              </accordion-group>
            </accordion>


            <div ng-if="types.complex[prop.type] && types.complex[prop.type].Display.type === 'drag'">
              <img width="100" ng-src="{{types.complex[prop.type].Display.image}}"/>
              <span tooltip="{{types.complex[prop.type].Description}}">{{prop.name}}</span>
            </div>
            <!--<p>{{prop.name}} : {{prop.type}}</p>-->
          </div>

          <h5 class="contenth5">Optional Parameters</h5>

          <div ng-repeat="prop in selectedComponent.optional" class="content">

            <div ng-if="prop.type === 'String'">
              <span tooltip="{{prop.description}}" class="tablename">
                {{prop.name}}
              </span>
              <input type="text"
                     name=""
                     ng-model="template.Resources[selectedComponent.name].Properties[prop.name]"
                     class="propertyinput">
              <br>
            </div>

            <accordion ng-if="types.complex[prop.type] && types.complex[prop.type].Display.type === 'table'"
                       close-others="true"
                       class="propertiesaccordion">
              <accordion-group is-open="status.open">
                <accordion-heading>
                  <div>
                        <span tooltip="{{types.complex[prop.type].Description}}">
                          {{prop.name}}
                        </span>
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
                    </i>
                  </div>
                </accordion-heading>
                <div class="table-responsive" id="no-more-tables2">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th ng-repeat="tableHeading in types.complex[prop.type].types.required"
                          tooltip="{{tableHeading.description}}">{{tableHeading.name}}
                      </th>
                      <th>Edit</th>
                    </tr>
                    <tr>
                      <th ng-repeat="tableHeading in types.complex[prop.type].types.optional"
                          tooltip="{{tableHeading.description}}">{{tableHeading.name}}
                      </th>
                      <th>Edit</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="tableProp in template.Resources[selectedComponent.name].Properties[prop.name]">
                      <td ng-repeat="tableHeading in types.complex[prop.type].types.required"
                          data-title={{tableHeading.name}}>
                    <span
                      editable-text="template.Resources[selectedComponent.name].Properties[prop.name][tableHeading.name]"
                      e-name="tableHeading.name" e-form="rowform" e-required>
                      {{tableProp[tableHeading.name]}}
                    </span>
                      </td>
                      <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form
                              name="rowform"
                              onbeforesave="saveUser($data, user.id)"
                              ng-show="rowform.$visible"
                              class="form-buttons form-inline"
                              shown="inserted == user">
                          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                          </button>
                          <button
                            type="button"
                            ng-disabled="rowform.$waiting"
                            ng-click="rowform.$cancel()"
                            class="btn btn-default">
                            cancel
                          </button>
                        </form>

                        <div class="buttons" ng-show="!rowform.$visible">
                          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                          <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <button class="btn btn-default new"
                        ng-click="AddToTable(template.Resources[selectedComponent.name].Properties, prop.name, types.complex[prop.type].types.optional)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>

              </accordion-group>
            </accordion>

            <div ng-if="types.complex[prop.type] && types.complex[prop.type].Display.type === 'drag'">
              <img width="100" ng-src="{{types.complex[prop.type].Display.image}}"/>
              <span tooltip="{{types.complex[prop.type].Description}}">{{prop.name}}</span>
            </div>
          </div>


        </div>
      </div>

      <div class="right-column-bottom">
        <form id="searchbox">
          <p class="fieldset">
            <label class="glyphicon glyphicon-search"></label>
          </p>
          <input ng-model="searchText" type="text" placeholder="Search..." required class="search">
          <!--<button type="submit" class="button">-->
          <!--<i class="glyphicon glyphicon-search" visibility="hidden-xs"></i>-->
          <!--</button>-->
        </form>
        <tabset justified="true">

          <tab heading="Components" class="components-tab">
            <div ng-repeat="comp in components | filter:searchText">
              <div
                class="empty-container"
                ng-drag="true"
                ng-drag-success="onDragComplete($data,$event)"
                ng-drag-data="comp"
                ng-center-anchor="false">
              </div>
              <div class="component-item">
                <div class="imgdiv">
                  <img class="component-image" ng-src="{{comp.image}}"/>
                </div>
                <div class="pdiv">
                  <p>
                    {{comp.name}} : {{comp.description}}</p>
                </div>
              </div>
            </div>
          </tab>

          <tab heading="Tasks" class="tasks-tab">
            <div ng-repeat="task in tasks | filter:searchText">
              <div
                class="empty-container"
                ng-drag="true"
                ng-drag-data="task"
                ng-center-anchor="false">
              </div>

              <div class="task-item">
                <p>
                  {{task.name}}
                </p>
              </div>
            </div>
          </tab>

        </tabset>
      </div>
    </div>
  </ui-layout>
</div>


<!--This is the visual of the component card while its being dragged-->
<div
  ng-drag-clone="" class="dragging">
  <div class="component-item">
    <div class="imgdiv">
      <img class="component-image" ng-src="{{clonedData.image}}"/>
    </div>
    <div class="pdiv">
      <p>
        {{clonedData.name}} : {{clonedData.description}}</p>
    </div>
  </div>
</div>
