<div ui-layout class="layout-mock" ng-init="init()">

  <ui-layout options="{ flow : 'column' }">
    <div ng-drop="true"
         ng-drop-success="onDropComplete($data,$event)"
         id="container"
         class="center-back">
      <div plumb-item class="item"
           ng-repeat="component in addedComponenets"
           ng-style="{ 'left':component.x, 'top':component.y }"
           data-identifier="{{component.id}}">
        <img width="100" ng-src="{{component.image}}"/>

        <div class="title">{{component.title}}</div>
        <div plumb-connect class="ep"></div>
      </div>
    </div>

    <sidebar size="300px" class="west-back">
      <button ng-click="showJson = !showJson">Json</button>
      <div ng-show="showJson" ui-ace="{
        theme:'twilight',
        mode: 'json'}"></div>
      <div ng-show="!showJson">
        <hr/>
        Search: <input ng-model="searchText">
        <hr/>
        <tabset>
          <tab heading="Components">
            <div ng-repeat="comp in components | filter:searchText">
              <div
                class="fuck"
                ng-drag="true"
                ng-drag-success="onDragComplete($data,$event)"
                ng-drag-data="comp"
                ng-center-anchor="false">
              </div>
              <img class="image" width="100" ng-src="{{comp.image}}">

              <div>
                {{comp.name}} : {{comp.description}}
              </div>
              <hr>
            </div>
          </tab>

          <tab heading="Tasks">
            <div ng-repeat="task in tasks | filter:searchText">
              <div
                class="fuck"
                ng-drag="true"
                ng-drag-data="task"
                ng-center-anchor="false">
              </div>
              <div>
                <
                {{task.name}}
              </div>
              <hr>
            </div>
          </tab>
        </tabset>
      </div>
    </sidebar>
  </ui-layout>
  <footer class="south-back" size="200px">aa</footer>
</div>


<div
  ng-drag-clone="" class="dragging" style="background-color: white">
  <img width="100" ng-src="{{clonedData.image}}">

  <div class="title">
    {{clonedData.name}} : {{clonedData.description}}
  </div>
</div>
