<div class="propertiesdrag">
    <div
      class="empty-container-property"
      ng-drag="true"
      ng-drag-success="dragCompleted($data,$event)"
      ng-drag-data="dragData"
      ng-center-anchor="false">
      <div class="imgdiv">

      </div>
      <div class="pdiv">
        <!--<span tooltip="{{propertyTypes.Description}}">{{property.name}}</span>-->
        <p>{{property.name}}</p>
      </div>
    </div>
    <div class="component-item">
      <div class="imgdiv">
        <img  class="component-image" ng-src="{{propertyTypes.Display.image}}"/>
      </div>
      <div class="pdiv">
        <!--<span tooltip="{{propertyTypes.Description}}">{{property.name}}</span>-->
        <p>{{property.name}}</p>
      </div>
    </div>
</div>
