<div>
    <accordion close-others="true" class="propertiesaccordion">
        <accordion-group is-open="status.open">

            <!--The title of the table-->
            <accordion-heading>
                <div>
            <span tooltip="">
              {{property.name}}
            </span>
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
                    </i>
                </div>
            </accordion-heading>

            <div class="table-responsive" id="no-more-tables1">
                <table class="table table-striped table-bordered">

                    <!--the actual table data-->
                    <tbody>
                    <tr ng-repeat="tableProp in propertyModel[property.name]">
                        <td data-title={{propertyHeadings.name}}>
                            <div ng-if="!propertyHeadings.hasOwnProperty('allowableValues')">
                                <span
                                        editable-text="tableProp[propertyHeadings.name]"
                                        e-name="{{propertyHeadings.name}}"
                                        e-form="rowform"
                                        e-required class="editable">
                                    {{tableProp[$index]}}
                                </span>
                            </div>
                            <div ng-if="propertyHeadings.hasOwnProperty('allowableValues')">
                                <span
                                        editable-select="propertyModel[property.name][$index]"
                                        e-name="{{propertyHeadings.name}}"
                                        onshow="loadAllowableValues(propertyHeadings)"
                                        e-form="rowform" e-required
                                        e-ng-options="value.name for value in propertyHeadings.valueMap">
                                    {{tableProp[$index]}}
                                </span>
                            </div>
                        </td>


                        <!--These are the edit buttons-->
                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form
                                  name="rowform"
                                  onbeforesave="saveEntry($data, $index)"
                                  ng-show="rowform.$visible"
                                  class="form-buttons form-inline">
                                <!--shown="inserted == user">-->
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary save">
                                    <i class="fa fa-floppy-o"></i>
                                </button>
                                <button
                                        type="button"
                                        ng-disabled="rowform.$waiting"
                                        ng-click="rowform.$cancel()"
                                        class="btn btn-danger cancel">
                                    <i class="fa fa-times"></i>
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary edit" ng-click="rowform.$show()"><i
                                        class="fa fa-pencil-square-o"></i></button>
                                <button class="btn btn-danger delete" ng-click="removeRow($index)"><i
                                        class="fa fa-trash-o"></i></button>
                            </div>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>


            <button
                    class="btn btn-default new"
                    ng-click="AddToTable(propertyModel, property.name, propertyTypes.types)">
                <span class="glyphicon glyphicon-plus"></span>
            </button>

        </accordion-group>
    </accordion>
</div>
