<div class="modal-header">
  <h2 class="modal-title">I'm a modal!</h2>
  <h4>Description of the item</h4>
</div>
<div class="modal-body">
  <!-- Choices -->
  <div class="row">
    <h4>Language Preference</h4>

    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        Yowhat
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        Yowhat
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        Yowhat
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        Yowhat
      </div>
      <!-- /input-group -->
    </div>
  </div>
  <!-- /.row -->
  <hr>
  <div class="row">
    <h4>Resource Preferences</h4>

    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        Hello
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        Hello
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        Hello
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        Hello
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
  <hr>
  <div class="row">
    <h4>Download Preferences</h4>

    <div class="col-lg-6">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        Yowhat
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-6">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        Yowhat
      </div>
      <!-- /input-group -->
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>


<!--Ali Fathalian-->
<!--Selected: <b>{{ selected.item }}</b>-->
