<div class="modal-header">
    <h2 class="modal-title">Connect to AWS Account</h2>
    <h4>Please enter your read-only AWS credentials</h4>
</div>
<div class="modal-body">
    <div class="row text-center">
        <div class="col-lg-4">
            <p>
                <strong>Username:</strong>
                <input type="text">
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-4">
            <p>
                <strong>Password:</strong>
                <input type="password">
            </p>
        </div>
    </div>


</div>


<div class="modal-footer">
    <button class="btn btn-primary" ng-click="loadInfraFromAWS()">Bring it on!</button>
</div>

