<div class="modal-header">
  <h2 class="modal-title">EC2</h2>
  <h4>Scaffold Instructions</h4>
</div>
<div class="modal-body">
  <input type="text" placeholder="Scaffold Title..." class="input" required>
  <!-- BackEnd language preference -->
  <div class="row">
    <h4>Back-End Language Preferences</h4>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        <img class="goland" src="images/golang.sh-600x600_thumb.png"> Go
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        <img class="goland" src="images/java.png"> Java
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        <img class="ios" src="images/nodejs.png">  NodeJS
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        <img class="ios" src="images/python_thumb.png">  Python
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        <img class="ios" src="images/rails_thumb.jpg">  Rails
      </div>
      <!-- /input-group -->
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <!-- Frontend languaguge preference -->
  <div class="row">
    <h4>Front-End Language Preferences</h4>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        <img class="android" src="images/android_thumb.jpg"> Android
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        <img class="angular" src="images/angular_thumb.png"> Angular
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-3">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        <img class="ios" src="images/ios_thumb.png"> IOS
      </div>
      <!-- /input-group -->
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <!--Resource preference-->
  <div class="row">
    <h4>Resource Preferences</h4>

    <div class="col-lg-4">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        Generate Code
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        Generate Unit Tests
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        Generate API Tests
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        Generate Documentation
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        Include Self Containing Server
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.row -->
    <hr>
  </div>
  <hr>

  <!--Download Preference-->
  <div class="row">
    <h4>Download Preferences</h4>

    <div class="col-lg-6">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        Docker File
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-lg-6">
      <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        Simple Zip
      </div>
      <!-- /input-group -->
    </div>
  </div>
</div>

<div class="modal-footer">
  <hr>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button ng-if="downloadReady === false" class="btn btn-primary" ng-click="ok()">Do Magic Stuff</button>
  <a ng-if="downloadReady === true" ng-href="https://s3-us-west-2.amazonaws.com/zoso-images/nestor-1415702493.zip" class="btn btn-primary" ng-click="ok()">Download files</a>


</div>


<!--Ali Fathalian-->
<!--Selected: <b>{{ selected.item }}</b>-->
