<div>
<span tooltip="{{property.description}}" class="propertyname">
             {{property.name}}
              </span>

  <select
    id="{{property.name}}-{{componentName}}"
    ng-if="showSelect"
    ng-model="item"
    ng-change="itemSelected(item)"
    class="propertyselect">
    <option></option>
    <option ng-repeat="value in allowableValues" value="{{value.value}}"
            ng-selected="model === value.value">
      {{value.name}}
    </option>
    </select>

  <div ng-show="showSimple">
    <input
      type="{{inputType}}"
      name=""
      value="{{property.default[0]}}"
      ng-model="model[property.name]"
      class="propertyinput"/>
    <br></div>
</div>
