<div>
  <div class="propertiesHeader">
    <h4 id="componentName">Name: {{component.name}} </h4>
    <h5 id="componentType">Type: {{component.type}}</h5>
  </div>


  <h5 class="requiredORoptional" ng-show="component.required">Required Parameters</h5>

  <component-properties
    ng-if="!component.isDerived"
    component-name="component.name"
    component-properties="component.required"
    component-model="template.Resources[component.name].Properties"
    on-property-drag="propertyDragged(data, event)"
    ></component-properties>

  {{template.Resources[component.parent].Properties[component.type]}}
  <derived-properties
    ng-if="component.isDerived"
    component-properties="component.required"
    component-model="template.Resources[component.parent].Properties[component.type]"
    component="component"
    ></derived-properties>

  <h5 class="requiredORoptional" ng-show="component.optional">Optional Parameters</h5>

  <component-properties
    ng-if="!component.isDerived"
    component-name="component.name"
    component-properties="component.optional"
    component-model="template.Resources[component.name].Properties"
    on-property-drag="propertyDragged(data, event)"
    ></component-properties>

  <derived-properties
    ng-if="component.isDerived"
    component-properties="component.optional"
    component-model="template.Resources[component.parent].Properties[component.type]"
    component="component.name"
    ></derived-properties>
</div>
