<div>
  <accordion
    close-others="true"
    class="propertiesaccordion">
    <accordion-group is-open="status.open">
      <accordion-heading>
        <div>
                        <span tooltip="{{propertyTypes.Description}}">
                          {{property.name}}
                        </span>
          <i class="pull-right glyphicon"
             ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
          </i>
        </div>
      </accordion-heading>
      <div class="table-responsive" id="no-more-tables1">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th ng-repeat="tableHeading in propertyTypes.types.required"
                tooltip="{{tableHeading.description}}">{{tableHeading.name}}
            </th>
            <th ng-repeat="tableHeading in propertyTypes.types.optional"
                tooltip="{{tableHeading.description}}">{{tableHeading.name}}
            </th>
            <th>Edit</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="tableProp in resourceProperties[property.name]">
            <td ng-repeat="tableHeading in propertyTypes.types.required"
                data-title={{tableHeading.name}}>
              <div ng-if="!tableHeading.hasOwnProperty('allowableValues')">
                    <span
                      editable-text="resourceProperties[property.name][tableHeading.name]"
                      e-name="{{tableHeading.name}}" e-form="rowform" e-required>
                      {{tableProp[tableHeading.name]}}
                    </span>

              </div>
              <div>
              <span ng-if="tableHeading.hasOwnProperty('allowableValues')"
                editable-select="resourceProperties[property.name][tableHeading.name]"
                e-name="{{tableHeading.name}}"
                onshow="loadAllowableValues(tableHeading)"
                e-form="rowform" e-required
                e-ng-options="value.name for value in tableHeading.valueMap">
                      {{tableProp[tableHeading.name]}}
                    </span>

              </div>
            </td>
            <td ng-repeat="tableHeading in propertyTypes.types.optional"
                data-title={{tableHeading.name}}>
                    <span
                      editable-text="resourceProperties[property.name][tableHeading.name]"
                      e-name="{{tableHeading.name}}" e-form="rowform">
                      {{tableProp[tableHeading.name]}}
                    </span>
            </td>
            <td style="white-space: nowrap">
              <!-- form -->
              <form editable-form
                    name="rowform"
                    onbeforesave="saveEntry($data, $index)"
                    ng-show="rowform.$visible"
                    class="form-buttons form-inline">
                <!--shown="inserted == user">-->
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                  save
                </button>
                <button
                  type="button"
                  ng-disabled="rowform.$waiting"
                  ng-click="rowform.$cancel()"
                  class="btn btn-default">
                  cancel
                </button>
              </form>

              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                <button class="btn btn-danger" ng-click="removeRow($index)">del</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-default new"
              ng-click="AddToTable(resourceProperties, property.name, propertyTypes.types)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

    </accordion-group>
  </accordion>
</div>
